{% extends "views/backoffice/layout.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block head_link %}
<link href="/backoffice/assets/css/pages/wizards/wizard-v3.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

  <!-- begin:: Content Head -->
  <div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container kt-container--fluid ">
      <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">{{ title }}</h3>
      </div>
      <div class="kt-subheader__toolbar">
        <a href="/admin/menus/dishes/list" class="btn btn-brand btn-bold">Liste des recettes</a>
      </div>
    </div>
  </div>

  <!-- end:: Content Head -->

  <!-- begin:: Content -->
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet">
      <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="kt-wizard-v3" id="kt_wizard_v3">

          <!--begin:Form-->
          <form class="kt-form" id="kt_form" enctype="multipart/form-data">

            <div class="kt-wizard-v3__content">
              <div class="kt-separator kt-separator--height-xs"></div>
              <div class="kt-form__section kt-form__section--first">
                {% if dish %}<input type="hidden" value="{{dish._id}}" id="dishId">{% endif %}

                <div class="form-group">
                  <label>Titre:</label>
                  <input type="text" class="form-control" name="title" {% if dish %} value="{{dish.title}}" {% endif %}>
                </div>

                <div class="form-group">
                  <label>Description:</label>
                  <input type="text" class="form-control" name="description" {% if dish %} value="{{dish.description}}" {% endif %}>
                </div>

                <div class="form-group">
                  <label for="type">Catégorie</label>
                  <select class="form-control" id="type">
                    <option {% if dish and dish.type == 'STARTER' %} selected="selected" {% endif %} value="STARTER">Entrée</option>
                    <option {% if dish and dish.type == 'MAIN_COURSE' %} selected="selected" {% endif %} value="MAIN_COURSE">Plat</option>
                    <option {% if dish and dish.type == 'DESSERT' %} selected="selected" {% endif %} value="DESSERT">Dessert</option>
                    <option {% if dish and dish.type == 'DRINK' %} selected="selected" {% endif %} value="DRINK">Boisson</option>
                    <option {% if dish and dish.type == 'OTHERS' %} selected="selected" {% endif %} value="OTHERS">Autres</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Quantity:</label>
                  <input type="number" class="form-control" id="quantity" name="quantity" {% if dish %} value="{{dish.quantity}}" {% endif %}>
                </div>
  
                <div class="form-group row">
                  <label for="photo" class="col-3 col-form-label">Photo</label>
                    <div class="col-9">
                      <div class="kt-avatar kt-avatar--outline kt-avatar--success {% if dish and dish.photo %}kt-avatar--changed{% endif %}" id="kt_dish_photo">
                        <div class="kt-avatar__holder" {% if dish and dish.photo %} style="background-image: url({{dish.photo}})" {% endif %}></div>
                        <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="Modifier la photo">
                          <i class="fa fa-pen"></i>
                          <input type='file' id="photo" name="photo" accept=".png, .jpg, .jpeg, image/png, image/jpeg" />
                        </label>
                        <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="Supprimer la photo">
                          <i class="fa fa-times"></i>
                        </span>
                      </div>
                    </div>
                </div>

                <div class="form-group">
                  <label>Ingredients:</label>
                  <input type="text" class="form-control" name="ingredients" {% if dish %} value="{{dish.ingredients}}" {% endif %}>
                </div>
  
                <div class="form-group">
                  <label>Allergènes:</label>
                  <input type="text" class="form-control" name="allergens" {% if dish %} value="{{dish.allergens}}" {% endif %}>
                </div>


              </div>
            </div>

            <!--begin:Form Actions -->
            <div class="kt-form__actions">
              <a class="btn btn-secondary" href="/admin/menus/dishes/list">Annuler</a>
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>

            <!--end:Form Actions -->
          </form>

          <!--end:Form-->
        </div>
      </div>
    </div>
  </div>

  <!-- end:: Content -->
</div>
{% endblock %}

{% block script %}
<script>
jQuery(document).ready(function() {
  const dishId = "{{ dish._id }}";
  const dishJsElm = document.createElement("script");
  dishJsElm.type = "application/javascript";
  if (dishId) {
    dishJsElm.src = "/backoffice/assets/js/pages/custom/menus/dishes/edit.js";
    document.body.appendChild(dishJsElm);
  } else {
    dishJsElm.src = "/backoffice/assets/js/pages/custom/menus/dishes/add.js";
    document.body.appendChild(dishJsElm);
  }

  $('#quantity').TouchSpin({
    initval: 0,
    min: 0,
    buttondown_class: 'btn btn-secondary',
    buttonup_class: 'btn btn-secondary',
    verticalbuttons: true,
    verticalup: '<i class="la la-plus"></i>',
    verticaldown: '<i class="la la-minus"></i>'
  });

  var photo = new KTAvatar('kt_dish_photo');
 
  photo.cancel.onclick = () => {
    let holder = $(this).find('#kt_dish_photo .kt-avatar__holder');
    holder.css('background-image', '');
  };

});
</script>
{% endblock %}