{% extends "views/backoffice/layout.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block head_link %}
<link href="/backoffice/assets/css/pages/wizards/wizard-v3.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

  <!-- begin:: Content Head -->
  <div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container kt-container--fluid ">
      <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">{{ title }}</h3>
      </div>
      <div class="kt-subheader__toolbar">
        <a href="/admin/menus/categories/list" class="btn btn-brand btn-bold">Liste des categories</a>
      </div>
    </div>
  </div>

  <!-- end:: Content Head -->

  <!-- begin:: Content -->
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet">
      <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="kt-wizard-v3" id="kt_wizard_v3">

          <!--begin:Form-->
          <form class="kt-form" id="kt_form" enctype="multipart/form-data">

            <div class="kt-wizard-v3__content">
              <div class="kt-separator kt-separator--height-xs"></div>
              <div class="kt-form__section kt-form__section--first">
                {% if menuCategory %}<input type="hidden" value="{{menuCategory._id}}" id="menuCategoryId">{% endif %}
                <div class="form-group">
                  <label>Titre:</label>
                  <input type="text" class="form-control" name="title" {% if menuCategory %} value="{{menuCategory.title}}" {% endif %}>
                </div>
                <div class="form-group">
                  <label>Sous titre:</label>
                  <input type="text" class="form-control" name="subtitle" {% if menuCategory %} value="{{menuCategory.subtitle}}" {% endif %}>
                </div>

                <div class="form-group row">
                  <label for="photo" class="col-3 col-form-label">Photo</label>
                    <div class="col-9">
                      <div class="kt-avatar kt-avatar--outline kt-avatar--success {% if menuCategory and menuCategory.photo %}kt-avatar--changed{% endif %}" id="kt_menu_category_photo">
                        <div class="kt-avatar__holder" {% if menuCategory and menuCategory.photo %} style="background-image: url({{menuCategory.photo}})" {% endif %}></div>
                        <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="Modifier la photo">
                          <i class="fa fa-pen"></i>
                          <input type='file' id="photo" name="photo" accept=".png, .jpg, .jpeg, image/png, image/jpeg" />
                        </label>
                        <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="Supprimer la photo">
                          <i class="fa fa-times"></i>
                        </span>
                      </div>
                    </div>
                </div>

                <div class="form-group">
                  <label>Ordre:</label>
                  <input type="number" class="form-control" id="order" name="order" {% if menuCategory %} value="{{menuCategory.order}}" {% endif %}>
                </div>
                <div class="form-group">
                  <label class="kt-checkbox kt-checkbox--success">
                    <input name="activated" type="checkbox" {% if menuCategory and menuCategory.activated %} checked="checked" {% endif %}> Activé
                    <span></span>
                  </label>
                </div>
              </div>
            </div>

            <!--begin:Form Actions -->
            <div class="kt-form__actions">
              <a class="btn btn-secondary" href="/admin/menus/categories/list">Annuler</a>
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>

            <!--end:Form Actions -->
          </form>

          <!--end:Form-->
        </div>
      </div>
    </div>
  </div>

  <!-- end:: Content -->
</div>
{% endblock %}

{% block script %}
<script>
jQuery(document).ready(function() {
  const menuCategoryId = "{{ menuCategory._id }}";
  const menuCategoryJsElm = document.createElement("script");
  menuCategoryJsElm.type = "application/javascript";
  if (menuCategoryId) {
    menuCategoryJsElm.src = "/backoffice/assets/js/pages/custom/menus/categories/edit.js";
    document.body.appendChild(menuCategoryJsElm);
  } else {
    menuCategoryJsElm.src = "/backoffice/assets/js/pages/custom/menus/categories/add.js";
    document.body.appendChild(menuCategoryJsElm);
  }

  $('#order').TouchSpin({
    initval: 1,
    min: 1,
    buttondown_class: 'btn btn-secondary',
    buttonup_class: 'btn btn-secondary',
    verticalbuttons: true,
    verticalup: '<i class="la la-plus"></i>',
    verticaldown: '<i class="la la-minus"></i>'
  });

  var photo = new KTAvatar('kt_menu_category_photo');
 
  photo.cancel.onclick = () => {
    let holder = $(this).find('#kt_menu_category_photo .kt-avatar__holder');
    holder.css('background-image', '');
  };

});
</script>
{% endblock %}