{% extends "views/front/layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mb-3 mt-5">
  <div class="row">
    <div class="col-lg-4 pb-5">
      <!-- Account Sidebar-->
      <div class="wizard">
        {% include './partial/account-nav-sidebar.twig'%}
      </div>
    </div>
    <div class="col-lg-8 pb-5">
      <h3 class="h4 pb-3 text-center">Ma cagnotte</h3>
      <div class="accordion" id="accordion1">

        <!-- Card -->
        <div class="card">
          <div class="card-header">
            <h6>
              <a class="collapsed" href="#credit" data-toggle="collapse">
                </i>Mon avoir
              </a>
            </h6>
          </div>
          <div class="collapse" id="credit" data-parent="#accordion1">
            <div class="card-body">
              <div class="opacity-75">
              <span class="text-md">Montant:</span> 
              <span class="font-weight-bolder text-lg">{{ user ? user.jackpot and user.jackpot.credit : user.jackpot.credit : 0 }} € </span> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block script %}
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{GCP_API_Key}}"></script>
<script>

$(document).ready(function(){

  // Todo: refactoring
  google.maps.event.addDomListener(window, 'load', function() {
    $('.add-new-address-modal').on('shown.bs.modal', function () {
      const addressElement = $(this).find('input[name="formattedAddress"]');
      const addressId = $(this).data('address-id');
      initializeAutocomplete(addressElement.attr("id"), addressId);
    });
  });


  function initializeAutocomplete(id, addressId) {
    var element = document.getElementById(id);
    if (element) {
      var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'], componentRestrictions: { country: "fr" } });
      google.maps.event.addListener(autocomplete, 'place_changed',    
        function(e) {
          onPlaceChanged.call(this,
          addressId
        );
      });
    }
  }

  function onPlaceChanged(addressId) {
    var place = this.getPlace();
    for (var i in place.address_components) {
      var component = place.address_components[i];
      for (var j in component.types) {
        const elementId = addressId ? component.types[j] + '-' + addressId : component.types[j];
        var type_element = document.getElementById(elementId);
        if (type_element) {
          type_element.value = component.long_name;
        }
      }
    }
  }

  $(".validate-delete-address").click(function(ev) {
    ev.preventDefault();
    const addressId = $(this).data('address-id');

    $.ajax({
      type: 'post',
      url: '/account/addresses/delete',
      data: { id : addressId},
      dataType: 'json'
    })
    .done(function(data) {
      if (data.error) {
        $('#toast-address-delete-error').trigger('click');
      } else {
        $(".confirm-delete-address-modal").modal('hide');
        $('#toast-address-delete').trigger('click');
        document.location.reload(true);
      }
    });
  });
  

  const forms = document.getElementsByClassName('form-update-address');

  for (let form of forms) {
  form.addEventListener('submit', function(ev) {
    ev.preventDefault();

    const data = {
      'id': $(this).find('input[name="id"]').val(),
      'formattedAddress': $(this).find('input[name="formattedAddress"]').val(),
      'streetNumber': $(this).find('input[name="street_number"]').val(),
      'route': $(this).find('input[name="route"]').val(),
      'locality': $(this).find('input[name="locality"]').val(),
      'administrativeArea': $(this).find('input[name="administrative_area_level_1"]').val(),
      'postalCode': $(this).find('input[name="postal_code"]').val(),
      'country': $(this).find('input[name="country"]').val(),
      'additionalInformation': $(this).find('input[name="additionalInformation"]').val(),
      'companyName': $(this).find('input[name="companyName"]').val(),
      'firstName': $(this).find('input[name="firstName"]').val(),
      'lastName': $(this).find('input[name="lastName"]').val(),
      'phoneNumber': $(this).find('input[name="phoneNumber"]').val(),
      'instruction': $(this).find('input[name="instruction"]').val(),
      'alias': $(this).find('input[name="alias"]').val(),
    };

    $.ajax({
      type: 'post',
      url: '/account/addresses/update',
      data: data,
      dataType: 'json'
    })
    .done(function(data) {
      if (data.error) {
        let errorMessages = '';
        data.error.messages.forEach(function(message){
          errorMessages += '<li>' + message.msg + '</li>';
        });
        $(this).find('#errorMessages').html(errorMessages);
      } else {
        $('#toast-address-update').trigger('click');
        $(".add-new-address-modal").modal('hide');
        document.location.reload(true);
      }
    });
  });
  }

  const form = document.getElementById('form-update-address');
  form.addEventListener('submit', function(ev) {
    ev.preventDefault();

    const data = {
      'id': $('#id').val(),
      'address': $('#address').val(),
      'additionalInformation': $('#additionalInformation').val(),
      'companyName': $('#companyName').val(),
      'firstName': $('#firstName').val(),
      'lastName': $('#lastName').val(),
      'phoneNumber': $('#phoneNumber').val(),
      'instruction': $('#instruction').val(),
      'alias': $('#alias').val(),
    };

    $.ajax({
      type: 'post',
      url: '/account/addresses/add',
      data: data,
      dataType: 'json'
    })
    .done(function(data) {
      if (data.error) {
        let errorMessages = '';
        data.error.messages.forEach(function(message){
          errorMessages += '<li>' + message.msg + '</li>';
        });
        $('#errorMessages').html(errorMessages);
      } else {
        $('#toast-address-add').trigger('click');
        $("#add-new-address-modal").modal('hide');
        document.location.reload(true);
      }
    });
  }); 

});
</script>
{% endblock %}