{% extends "views/front/layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mb-3 mt-5">
  <div class="row">
    <div class="col-lg-4 pb-5">
      <!-- Account Sidebar-->
      <div class="wizard">
        {% include './partial/account-nav-sidebar.twig'%}
      </div>
    </div>
    <!-- Profile Settings-->
    <div class="col-lg-8 pb-5">
      <div class="wizard pb-3">
        <div class="wizard-body pt-2 text-center">
          <h3 class="h4 pb-3">Bientôt disponible !</h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}