{% extends "views/front/layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mb-3 mt-5">
  <div class="row">
    <div class="col-lg-4 pb-5">
      <!-- Account Sidebar-->
      <div class="wizard">
        {% include './partial/account-nav-sidebar.twig'%}
      </div>
    </div>
    <!-- Profile Settings-->
    <div class="col-lg-8 pb-5">
      <h3 class="h4 pb-3 text-center">Détail de la commande #{{ order._id }}</h3>
        <div class="row">
          <div class="col-md-6">
            <h6>Statut</h6>
            <div class="text-md">
              {% if order.status == 'INIT' %}
                <span class="badge badge-warning m-0">En attente de paiement</span>
              {% elseif order.status == 'PROCESSING' %}
                <span class="badge badge-info m-0">En cours</span>
              {% elseif order.status == 'DELIVERED' %}
                <span class="badge badge-success m-0">Livrée</span>
              {% elseif order.status == 'CANCELLED' %}
                <span class="badge badge-danger m-0">Annulée</span>
              {% elseif order.status == 'FAILED' %}
                <span class="badge badge-danger m-0">Echouée</span>
              {% elseif order.status == 'REFUSED' %}
                <span class="badge badge-danger m-0">Rejetée</span>
              {% endif %}  
            </div>
          </div>
          <div class="col-md-6">
            <h6>Commandé le</h6>
            <div class="text-md">{{ order.createdAt|date("d F Y") }} à {{ order.createdAt|date("H:i") }}</div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <h6>Adresse de livraison</h6>
          <div class="text-md">
              <div>{{ order.deliveryInfo.address }}</div>

              {% if order.deliveryInfo.companyName %}
                <div>{{ order.deliveryInfo.companyName }}</div>
              {% endif %}
              
              {% if order.deliveryInfo.additionalInformation %}
                <div>{{ order.deliveryInfo.additionalInformation }}</div>
              {% endif %}

              {% if order.deliveryInfo.instruction %}
                <div>{{ order.deliveryInfo.instruction }}</div>
              {% endif %}

          </div> 
        </div>
        <div class="col-md-6">
          <h6>Créneau de livraison</h6>
          {{ order.createdAt|date("d F Y") }} entre {{ order.deliveryInfo.window.beginDate|date("H:i") }} et {{ order.deliveryInfo.window.endDate|date("H:i") }}
        </div>
      </div>
    
      <div class="row mt-3">
        <div class="col-md-12">
          <h6>Récapitulatif</h6>
          {% include '../../../cart/views/checkout/partial/summary-order.twig' with order %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){

});
</script>
{% endblock %}