{% extends "views/front/layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mb-3 mt-5">
  <div class="row">
    <div class="col-lg-4 pb-5">
      <!-- Account Sidebar-->
      <div class="wizard">
        {% include './partial/account-nav-sidebar.twig'%}
      </div>
    </div>
    <!-- Profile Settings-->
    <div class="col-lg-8 pb-5">
      <h3 class="h4 pb-3 text-center">Mes commandes</h3>
        {% if orders is empty %}
          <div class="text-primary text-md text-center">Vous n'avez effectué aucune commande</div>
        {% else %}
          <div class="table-responsive">
            <table class="table table-hover mb-0" id="account-orders">
              <thead>
                <tr>
                  <th>Commande #</th>
                  <th>Date</th>
                  <th>Statut</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                  <tr onclick="document.location = '/account/orders/{{ order._id }}';">
                    <td class="text-center">{{ order._id }}</td>
                    <td>{{ order.createdAt|date("d M Y") }}</td>
                    <td>
                      {% if order.status == 'PROCESSING' %}
                        <span class="badge badge-info m-0">En cours</span>
                      {% elseif order.status == 'DELIVERED' %}
                        <span class="badge badge-success m-0">Livrée</span>
                      {% elseif order.status == 'CANCELLED' %}
                        <span class="badge badge-danger m-0">Annulée</span>
                      {% elseif order.status == 'FAILED' %}
                        <span class="badge badge-danger m-0">Echouée</span>
                      {% elseif order.status == 'REFUSED' %}
                        <span class="badge badge-danger m-0">Rejetée</span>
                      {% endif %}
                    </td>
                    <td>{{ order.subTotalAmount + order.deliveryAmount }} €</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){

});
</script>
{% endblock %}