{% extends "views/front/layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="container mb-3 mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <h2 class="h4">Mot de passe oublié ?</h2>
        <form class="wizard needs-validation" action="/forgot-password" method="POST">
          <div class="wizard-body pt-4 mt-2">
        

            <div class="d-sm-flex justify-content-center">
            
              {% if messages.errors %}
                <ul class="list-unstyled text-danger text-lg font-weight-bolder">
                  {% for error in messages.errors %}
                    <li>{{ error.msg }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend"><span class="input-group-text"><i class="fe-icon-mail"></i></span></div>
              <input class="form-control" type="email" placeholder="Email" name="email" required>
            </div>
          </div>
          <div class="wizard-footer text-right">
            <button class="btn btn-secondary" type="submit">Je veux réinitialiser mon mot de passe</button>
          </div>
        </form>
      </div>
    </div>
    {% if messages.info %}
      <button hidden id="toast-message-send" data-toast data-toast-position="topCenter" data-toast-type="info" data-toast-icon="fe-icon-check-circle" data-toast-title="Info" data-toast-message="{{messages.info[0].msg}}"/>
    {% endif %}
  </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
  $('#toast-message-send').trigger('click');
});
</script>
{% endblock %}