{% extends "views/front/layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mb-3 mt-5">
  <div class="row">
    <div class="col-lg-4 pb-5">
      <!-- Account Sidebar-->
      <div class="wizard">
        {% include './partial/account-nav-sidebar.twig'%}
      </div>
    </div>
    <!-- Profile Settings-->
    <div class="col-lg-8 pb-5">
      <h3 class="h4 pb-3 text-center">Mon profil</h3>
      <form class="row" id="form-update-profile" method="POST">
        <div class="col-md-6">
          <div class="form-group">
            <label for="firstName">Prénom</label>
            <input class="form-control" type="text" id="firstName" name="firstName" value="{{ user.profile.firstName }}" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="lastName">Nom</label>
            <input class="form-control" type="text" id="lastName" name="lastName" value="{{ user.profile.lastName }}" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" name="email" value="{{ user.email }}" disabled>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="phoneNumber">Numéro de téléphone</label>
            <input class="form-control" type="tel" id="phoneNumber" name="phoneNumber" value="{{ user.phoneNumber }}" 
            pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="professionalActivity">Activité professionnelle</label>
            <select class="form-control" id="professionalActivity" name="professionalActivity">
              <option>Choisir...</option>
              <option {% if user.profile.professionalActivity == 'EMPLOYEE' %} selected="selected" {% endif %} value="EMPLOYEE">Salarié</option>
              <option {% if user.profile.professionalActivity == 'STUDENT' %} selected="selected" {% endif %} value="STUDENT">Etudiant</option>
              <option {% if user.profile.professionalActivity == 'OTHERS' %} selected="selected" {% endif %} value="OTHERS">Autres</option>
            </select>
          </div>
        </div>

        {% if user.tokens is empty %}
          <div class="col-md-6">
            <div class="form-group">
              <label for="password">Nouveau mot de passe</label>
              <input class="form-control" type="password" id="password" name="password" placeholder="min 6 caractères" minlength="6">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="confirm-password">Confirmer mot de passe</label>
              <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" placeholder="min 6 caractères" minlength="6">
            </div>
          </div>
        {% endif %}

        <div class="d-sm-flex justify-content-center">
          <ul id="errorMessages" class="list-unstyled text-danger text-lg font-weight-bolder">
          </ul>
        </div>

        <div class="col-12 text-right">
          <button class="btn btn-secondary" type="submit">Enregistrer</button>
        </div>
      </form>
      <button hidden id="toast-profil-update" data-toast data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="Succès!" data-toast-message="Votre profil a été mis à jour."/>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){

  const form = document.getElementById('form-update-profile');

  form.addEventListener('submit', function(ev) {
    ev.preventDefault();

    const data = {
      'firstName': $('#firstName').val(),
      'lastName': $('#lastName').val(),
      'phoneNumber': $('#phoneNumber').val(),
      'professionalActivity': $('#professionalActivity').val(),
      'password': $('#password').val(),
      'confirmPassword': $('#confirmPassword').val(),
    };

    $.ajax({
      type: 'post',
      url: '/account/profile/update',
      data: data,
      dataType: 'json'
    })
    .done(function(data) {
      if (data.error) {
        let errorMessages = '';
        data.error.messages.forEach(function(message){
          errorMessages += '<li>' + message.msg + '</li>';
        });
        $('#errorMessages').html(errorMessages);
      } else {
        $('#toast-profil-update').trigger('click');
      }
    });
  });
});
</script>
{% endblock %}