<div class="table-responsive">
  <table class="table table-borderless">
    <tbody>
      {% for itemOrder in order.menuCategoryItems %}
        <tr>
          <td style="width: 10%">
            <span class="text-lg">{{ itemOrder.quantity }}</span><span class="text-sm">X</span>
          </td>

          <td style="width: 65%">
            <span class="text-lg font-weight-bolder">{{ itemOrder.title }}</span>
            {% set itemTitles = [] %}
            {% for item in itemOrder.items %}
              {% set itemTitles = itemTitles|merge([item.title]) %}
            {% endfor %}

            <br>
            
            <span>{{ itemTitles|join(', ', ' et ') }}</span>
          </td>

          <td class="text-center" style="width: 20%">{{ itemOrder.amount }} €</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr></hr>
  <table class="table table-borderless" id="table-amount">
    <tbody>
      {% if order.creditAmount %}
        <tr>
          <td style="width: 50%">
            <span class="text-lg">Credit</span>
          </td>

          <td style="width: 35%"></td>

          <td id="sub-total-basket-amount" style="width: 15%">-{{ order.creditAmount }} €</td>
        </tr>
      {% endif %}
  
      {% if order.couponCode %}
        <tr>
          <td style="width: 50%">
            <span class="text-lg">Coupon <span class="text-primary">{{ order.couponCode }}</span></span>
          </td>

          <td style="width: 35%"></td>

          <td id="sub-total-basket-amount" style="width: 15%">-3 €</td>
        </tr>
      {% endif %}

      <tr>
        <td style="width: 50%">
          <span class="text-lg">Sous-total</span>
        </td>

        <td style="width: 35%"></td>

        <td id="sub-total-basket-amount" style="width: 15%">{{ order.subTotalAmount }} €</td>
      </tr>

      <tr>
        <td style="width: 50%">
          <span class="text-lg">Frais de livraison</span>
        </td>

        <td style="width: 35%"></td>

        <td id="delivery-basket-amount" style="width: 15%">
          {% if order.deliveryAmount == 0 %}
            Offert
          {% else %}
            {{ order.deliveryAmount }} €
          {% endif %}
        </td>
      </tr>

      {% if order.discountRate and order.discountAmount %}
        <tr>
          <td style="width: 50%">
            <span class="text-lg">Remise de {{ order.discountRate }}% </span>
          </td>

          <td style="width: 35%"></td>

          <td id="discount-amount" style="width: 15%"> - {{ order.discountAmount }} €</td>
        </tr>
      {% endif %}

      <tr>
        <td style="width: 50%">
          <span class="font-weight-bolder text-xl">Total</span>
        </td>

        <td style="width: 35%"></td>
        {% set discountAmountCalculated = order.discountAmount ? order.discountAmount : 0 %}

        {% set totalAmount = order.subTotalAmount + order.deliveryAmount - discountAmountCalculated %}
        <td id="total-basket-amount" class="font-weight-bolder" style="width: 15%">{{ totalAmount }} €</td>
      </tr>
    </tbody>
  </table>
</div>