<!DOCTYPE html>

<html lang="fr">

	<!-- begin::Head -->
	<head>
    {% block head %}
      <base href="">
      <meta charset="utf-8" />
      <title>{% block title %}{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />

      <!--begin::Fonts -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">

      <!--end::Fonts -->

      <!--begin::Global Theme Styles(used by all pages) -->
      <link href="/backoffice/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
      <link href="/backoffice/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

      <!--end::Global Theme Styles -->

      <!--begin::Layout Skins(used by all pages) -->
      <link href="/backoffice/assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
      <link href="/backoffice/assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
      <link href="/backoffice/assets/css/skins/brand/light.css" rel="stylesheet" type="text/css" />
      <link href="/backoffice/assets/css/skins/aside/light.css" rel="stylesheet" type="text/css" />

      <!--end::Layout Skins -->
      <link rel="shortcut icon" href="/backoffice/assets/media/logos/favicon.ico" />
      {% block head_link %}{% endblock %}
    {% endblock %}
	</head>

	<!-- end::Head -->

	<!-- begin::Body -->
  {% block body %}
    <body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

      <!-- begin:: Header Mobile -->
      <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
          <a href="/admin">
            <img alt="Logo" src="/img/logo/logo-light.png" />
          </a>
        </div>
        <div class="kt-header-mobile__toolbar">
          <button class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
          <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
          <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
        </div>
      </div>

      <!-- end:: Header Mobile -->

      <!-- begin:: Root -->
      <div class="kt-grid kt-grid--hor kt-grid--root">

        <!-- begin:: Page -->
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

          <!-- begin:: Aside -->
          <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
          <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">

            <!-- begin::Aside Brand -->
            <div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
              <div class="kt-aside__brand-logo">
                <a href="/admin">
                  <img alt="Logo" src="/img/logo/logo-light.png" />
                </a>
              </div>
              <div class="kt-aside__brand-tools">
                <button class="kt-aside__brand-aside-toggler kt-aside__brand-aside-toggler--left" id="kt_aside_toggler"><span></span></button>
              </div>
            </div>

            <!-- end:: Aside Brand -->

            <!-- begin:: Aside Menu -->
            <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
              <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500">
                <ul class="kt-menu__nav">

                  <li class="kt-menu__item kt-menu__item--submenu {% if originalUrl matches '/\/admin\/dashboard/' %}kt-menu__item--here{% endif %}" aria-haspopup="true" data-ktmenu-submenu-toggle="hover"><a href="/admin" class="kt-menu__link"><i class="kt-menu__link-icon flaticon2-graphic"></i><span class="kt-menu__link-text">Dashboard</span></a>
                  </li>

                  <li class="kt-menu__item kt-menu__item--submenu {% if originalUrl matches '/\/admin\/orders/' %}kt-menu__item--open kt-menu__item--here{% endif %}" aria-haspopup="true" data-ktmenu-submenu-toggle="hover"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-user"></i><span class="kt-menu__link-text">Commandes</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                    <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                      <ul class="kt-menu__subnav">
                        <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true"><span class="kt-menu__link"><span class="kt-menu__link-text">Commandes</span></span></li>
                        <li class="kt-menu__item {% if originalUrl matches '/^\/admin\/orders\/list$/' %}kt-menu__item--active{% endif %}" aria-haspopup="true"><a href="/admin/orders/list" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Liste des commandes</span></a></li>
                      </ul>
                    </div>¨
                  </li>
      
                  <li class="kt-menu__item kt-menu__item--submenu {% if originalUrl matches '/\/admin\/menus/' %}kt-menu__item--open kt-menu__item--here{% endif %}" aria-haspopup="true" data-ktmenu-submenu-toggle="hover"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-menu-4"></i><span class="kt-menu__link-text">Menus</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                    <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                      <ul class="kt-menu__subnav">
                        <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true"><span class="kt-menu__link"><span class="kt-menu__link-text">Menus</span></span></li>
                        
                        <li class="kt-menu__item kt-menu__item--submenu {% if originalUrl matches '/\/admin\/menus\/items/' %}kt-menu__item--open kt-menu__item--here{% endif %}" aria-haspopup="true" data-ktmenu-submenu-toggle="hover"><a class="kt-menu__link kt-menu__toggle" href="javascript:;"><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Les cartes du jour</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                          <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                            <ul class="kt-menu__subnav">
                              <li class="kt-menu__item {% if originalUrl matches '/^\/admin\/menus\/items\/list$/' %}kt-menu__item--active{% endif %}" aria-haspopup="true"><a href="/admin/menus/items/list" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Planifier la carte</span></a></li>
                              <li class="kt-menu__item {% if originalUrl matches '/^\/admin\/menus\/items\/dishes\/set$/' %}kt-menu__item--active{% endif %}" aria-haspopup="true"><a href="/admin/menus/items/dishes/set" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Planifier les recettes</span></a></li>
                            </ul>
                          </div>
                        </li>

                        <li class="kt-menu__item kt-menu__item--submenu {% if originalUrl matches '/\/admin\/menus\/dishes/' %}kt-menu__item--open kt-menu__item--here{% endif %}" aria-haspopup="true" data-ktmenu-submenu-toggle="hover"><a class="kt-menu__link kt-menu__toggle" href="javascript:;"><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Recettes</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                          <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                            <ul class="kt-menu__subnav">
                              <li class="kt-menu__item {% if originalUrl matches '/^\/admin\/menus\/dishes\/list$/' %}kt-menu__item--active{% endif %}" aria-haspopup="true"><a href="/admin/menus/dishes/list" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Liste des recettes</span></a></li>
                              <li class="kt-menu__item {% if originalUrl matches '/^\/admin\/menus\/dishes\/add$/' %}kt-menu__item--active{% endif %}" aria-haspopup="true"><a href="/admin/menus/dishes/add" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Ajouter une recette</span></a></li>
                            </ul>
                          </div>
                        </li>
                        
                        <li class="kt-menu__item kt-menu__item--submenu {% if originalUrl matches '/\/admin\/menus\/categories/' %}kt-menu__item--open kt-menu__item--here{% endif %}" aria-haspopup="true" data-ktmenu-submenu-toggle="hover"><a class="kt-menu__link kt-menu__toggle" href="javascript:;"><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Categories</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                          <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                            <ul class="kt-menu__subnav">
                              <li class="kt-menu__item {% if originalUrl matches '/^\/admin\/menus\/categories\/list$/' %}kt-menu__item--active{% endif %}" aria-haspopup="true"><a href="/admin/menus/categories/list" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Liste des catégories</span></a></li>
                              <li class="kt-menu__item {% if originalUrl matches '/^\/admin\/menus\/categories\/add$/' %}kt-menu__item--active{% endif %}" aria-haspopup="true"><a href="/admin/menus/categories/add" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Ajouter une catégorie</span></a></li>
                            </ul>
                          </div>
                        </li>

                      </ul>
                    </div>
                  </li>

                  <li class="kt-menu__item kt-menu__item--submenu {% if originalUrl matches '/\/admin\/users/' %}kt-menu__item--open kt-menu__item--here{% endif %}" aria-haspopup="true" data-ktmenu-submenu-toggle="hover"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-user"></i><span class="kt-menu__link-text">Utilisateurs</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
                    <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                      <ul class="kt-menu__subnav">
                        <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true"><span class="kt-menu__link"><span class="kt-menu__link-text">Utilisateurs</span></span></li>
                        <li class="kt-menu__item {% if originalUrl matches '/^\/admin\/users\/list$/' %}kt-menu__item--active{% endif %}" aria-haspopup="true"><a href="/admin/users/list" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Liste des utilisateurs</span></a></li>
                        <li class="kt-menu__item {% if originalUrl matches '/^\/admin\/users\/add$/' %}kt-menu__item--active{% endif %}" aria-haspopup="true"><a href="/admin/users/add" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Ajouter un utilisateur</span></a></li>
                      </ul>
                    </div>¨
                  </li>

                </ul>
              </div>
            </div>

            <!-- end:: Aside Menu -->
          </div>

          <!-- end:: Aside -->

          <!-- begin:: Wrapper -->
          <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

            <!-- begin:: Header -->
            <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

              <!-- begin:: Header Menu -->
              <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
              <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper"></div>

              <!-- end:: Header Menu -->

              <!-- begin:: Header Topbar -->
              <div class="kt-header__topbar">

                <!--begin: Notifications -->
                <div class="kt-header__topbar-item dropdown">
                  <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="30px,0px">
                    <span class="kt-header__topbar-icon">
                      <i class="flaticon2-bell-alarm-symbol"></i>
                    </span>
                  </div>
                  <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-lg">
                    <form>
                      <div class="kt-head" style="background-image: url(/backoffice/assets/media/misc/head_bg_sm.jpg)">
                        <h3 class="kt-head__title">Notifications</h3>
                        <div class="kt-head__sub"><span class="kt-head__desc">0 nouvelle notifications</span></div>
                      </div>
                      <div class="kt-notification kt-margin-t-30 kt-margin-b-20 kt-scroll" data-scroll="true" data-height="270" data-mobile-height="220">
                      </div>
                    </form>
                  </div>
                </div>

                <!--end: Notifications -->

                <!--begin: User Bar -->
                <div class="kt-header__topbar-item kt-header__topbar-item--user">
                  <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">

                    <!--use "kt-rounded" class for rounded avatar style-->
                    <div class="kt-header__topbar-user kt-rounded-">
                      <span class="kt-header__topbar-welcome kt-hidden-mobile">Jambo!</span>
                      <span class="kt-header__topbar-username kt-hidden-mobile">{{ adminUser.firstName }}</span>

                      <span class="kt-badge kt-badge--username kt-badge--lg kt-badge--brand kt-badge--bold">{{ adminUser.lastName|first|upper }}</span>
                    </div>
                  </div>
                  <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-sm">
                    <div class="kt-user-card kt-margin-b-40 kt-margin-b-30-tablet-and-mobile" style="background-image: url(/backoffice/assets/media/misc/head_bg_sm.jpg)">
                      <div class="kt-user-card__wrapper">
                        <div class="kt-user-card__details">
                          <div class="kt-user-card__name">{{ adminUser.firstName }} {{ adminUser.lastName }}</div>
                          <div class="kt-user-card__position">{{ adminUser.job }}</div>
                        </div>
                      </div>
                    </div>
                    <ul class="kt-nav kt-margin-b-10">
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <span class="kt-nav__link-icon"><i class="flaticon2-calendar-3"></i></span>
                          <span class="kt-nav__link-text">Mon Profil</span>
                        </a>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <span class="kt-nav__link-icon"><i class="flaticon2-gear"></i></span>
                          <span class="kt-nav__link-text">Paramètres</span>
                        </a>
                      </li>
                      <li class="kt-nav__separator kt-nav__separator--fit"></li>
                      <li class="kt-nav__custom kt-space-between">
                        <a href="/admin/logout" class="btn btn-label-brand btn-upper btn-sm btn-bold">Déconnexion</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <!--end: User Bar -->

              </div>

              <!-- end:: Header Topbar -->
            </div>

            <!-- end:: Header -->
            {% block content %}
            {% endblock %}

            <!-- begin:: Footer -->
            <div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
              <div class="kt-container  kt-container--fluid ">
                <div class="kt-footer__copyright">
                  2020&nbsp;&copy;&nbsp; NIOMI
                </div>
              </div>
            </div>

            <!-- end:: Footer -->
          </div>

          <!-- end:: Wrapper -->
        </div>

        <!-- end:: Page -->
      </div>

      <!-- end:: Root -->

      <!-- begin::Scrolltop -->
      <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="fa fa-arrow-up"></i>
      </div>

      <!-- end::Scrolltop -->

      <!-- begin::Global Config(global config for global JS sciprts) -->
      <script>
        var KTAppOptions = {
          "colors": {
            "state": {
              "brand": "#912819",
              "metal": "#c4c5d6",
              "light": "#ffffff",
              "accent": "#00c5dc",
              "primary": "#5867dd",
              "success": "#34bfa3",
              "info": "#36a3f7",
              "warning": "#ffb822",
              "danger": "#fd3995",
              "focus": "#9816f4"
            },
            "base": {
              "label": [
                "#c5cbe3",
                "#a1a8c3",
                "#3d4465",
                "#3e4466"
              ],
              "shape": [
                "#f0f3ff",
                "#d9dffa",
                "#afb4d4",
                "#646c9a"
              ]
            }
          }
        };
      </script>

      <!-- end::Global Config -->

      <!--begin::Global Theme Bundle(used by all pages) -->
      <script src="/backoffice/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
      <script src="/backoffice/assets/js/scripts.bundle.js" type="text/javascript"></script>

      <!--end::Global Theme Bundle -->

      {% block script %}
      {% endblock %}
      <!--end::Page Scripts -->
    </body>
  {% endblock %}
	<!-- end::Body -->
</html>