{% extends "views/backoffice/layout.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block head_link %}
<link href="/backoffice/assets/css/pages/wizards/wizard-v3.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

  <!-- begin:: Content Head -->
  <div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container kt-container--fluid ">
      <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
          Détails d'une commande </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
      </div>
    </div>
  </div>

  <!-- end:: Content Head -->

  <!-- begin:: Content -->
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <h1>Numero de commande #{{ order._id }}</h1>
    <div class="kt-form kt-form--label-right">
      {% include '../../../front/cart/views/checkout/partial/summary-order.twig' with order %}
    </div>
  </div>

  <!-- end:: Content -->
</div>
{% endblock %}

{% block script %}
<script src="/backoffice/assets/js/pages/custom/orders/list-datatable.js" type="text/javascript"></script>
{% endblock %}