// 
// user.scss
// Use this to write your custom SCSS
//

.text-xxl {
  font-size: 1.75rem !important;
}

.btn-secondary { color: $white !important; }

.ft-16 {
  font-size: 16px !important;
}

.btn-cancel {
  color: #939393;
  background-color: #eeeeee;
  border-color: #eeeeee;
}

.btn-cancel:hover {
  color: #848484;
  background-color: #eeeeee;
  border-color: #dddddd;
}

.btn-cancel:focus, .btn-cancel.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(209, 209, 209, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(209, 209, 209, 0.5);
}

.menu-index-page {
    .card {
      cursor: pointer;
      -webkit-box-shadow: rgba(139, 159, 196, 0.2) 0px 0.2rem 0.4rem 0px;
      box-shadow: rgba(139, 159, 196, 0.2) 0px 0.2rem 0.4rem 0px;
      &::after { display: none; }
      &:hover {
        -webkit-box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64, 64, 64, 0.09);
        box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64, 64, 64, 0.09);
      }
  }
}

@media (min-width: 768px) {  
  .menu-index-page {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 25px 25px;
  }
}

.address-list {
  .card {
    -webkit-box-shadow: rgba(139, 159, 196, 0.2) 0px 0.2rem 0.4rem 0px;
    box-shadow: rgba(139, 159, 196, 0.2) 0px 0.2rem 0.4rem 0px;
    &::after { display: none; }
  }
}

@media (min-width: 768px) {  
  .address-list {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 25px 25px;
  }
}

.block-title::after {
    background: $secondary !important;
    background: -webkit-gradient(linear, left top, right top, from($secondary), color-stop(20%, $secondary), to($secondary)) !important;
    background: linear-gradient(to right, $secondary 0%, $secondary 20%, $secondary 100%) !important;
}

#navbar-menu {
  background-color: white;
}

.basket-modal {
  .menu-item-title {
    background-color: $gray-100;
    padding: 12px 0px 4px 12px;
  }

  .btn-quantity {
    .number-quantity {
      vertical-align: middle;
    }
  }
}

.btn-basket-add-quantity, .btn-basket-remove-quantity {
  padding: 0 2px;
}

.pac-container {
  z-index: 2000 !important;
}

iframe {
  height: 100%;
}

.paygreen-payment-frame {
  height: 550px;
}

.payment-spinner-container {
  height: 550px;  
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767.98px) {
  .aygreen-payment-frame {
    height: 480px;
  }

  .payment-spinner-container {
    height: 480px;  
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.btn-secondary {
  border: 1px solid $secondary !important;
  line-height: 42px;
}

#account-orders {
  tr {
    cursor: pointer;
  }
}