{% extends "views/backoffice/layout.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block head_link %}
<link href="/backoffice/assets/css/pages/wizards/wizard-v3.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

  <!-- begin:: Content Head -->
  <div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container kt-container--fluid ">
      <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">Gestion des combinaisons de l'offre {{ menuCategoryItem.item.title }} de la categorie {{ menuItemCategory.category.title }} du menu du {{ menuItem.availableAt|date("d F Y") }}</h3>
      </div>
      <div class="kt-subheader__toolbar">
        <a href="/admin/menus/items/{{ menuItem._id }}/categories/{{ menuItemCategory._id }}/offer/edit/{{ menuCategoryItem._id }}/combination" class="btn btn-brand btn-bold">Retour à l'offre</a>
      </div>
    </div>
  </div>

  <!-- end:: Content Head -->

  <!-- begin:: Content -->
  <div class="kt-container kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet">
      <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="kt-wizard-v3" id="kt_wizard_v3">
          <!--begin:Form-->
          <form class="kt-form" id="add-menu-items-category-offer-combination-form">

            <input type="hidden" value="{{menuItem._id}}" id="menuItemId">
            <input type="hidden" value="{{menuItemCategory._id}}" id="menuItemCategoryId">
            <input type="hidden" value="{{menuCategoryItem.item._id}}" id="menuCategoryItemId">
            {% if meal %}
              <input type="hidden" value="{{meal._id}}" id="mealId">
            {% endif %}


            <div class="kt-wizard-v3__content">
              <div class="kt-separator kt-separator--height-xs"></div>
              <div class="kt-form__section kt-form__section--first">
                <div class="form-group">
                  <label for="category">Type</label>
                  <select class="form-control" id="type" name="type">
                    <option value="EXCLUSIVE" {% if meal.type == "EXCLUSIVE" %}selected{% endif %}>Choix exclusif</option>
                    <option value="INCLUSIVE" {% if meal.type == "INCLUSIVE" %}selected{% endif %}>Choix multiple</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Titre:</label>
                  <input type="text" class="form-control" name="title" {% if meal %}value="{{ meal.title }}"{% endif %}>
                </div>
  
                <div class="form-group">
                  <label>Ordre:</label>
                  <input type="number" class="form-control" name="order" {% if meal %}value="{{ meal.order }}"{% endif %}>
                </div>
    
                <!--begin:Form Actions -->
                <div class="kt-form__actions mb-4">
                  <a class="btn btn-secondary" href="/admin/menus/items/{{ menuItem._id }}/categories/{{ menuItemCategory._id }}/offer/edit/{{ menuCategoryItem._id }}/combination/add">Annuler</a>
                  <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>

                <!--end:Form Actions -->
              </form>

              <!--end:Form-->

                <h4>Les combinaisons</h4>

                <div class="kt-portlet__body">
                  <div class="kt-widget-17">
                    {% if meal.dishes is empty %}
                      Aucune met
                    {% else %}
                      {% for dish in meal.dishes %}
                        <div class="kt-widget-17__item">
                          <div class="kt-widget-17__product">
                            <div class="kt-widget-17__product-desc">
                              <div class="kt-widget-17__title">
                                {{ dish.dish.title }}
                              </div>
                            </div>
                            <div class="kt-widget-17__thumb">
                            </div>
                          </div>
                          <div class="kt-widget-17__prices">
                            <div class="kt-widget-17__sku mr-5">
                              {{ dish.additionalPrice }}
                            </div>
                            <div class="dropdown">
                              <a href="javascript:;" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown">
                                <i class="flaticon-more-1"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <ul class="kt-nav">
                                  <li class="kt-nav__item">
                                    <!--<a href="/admin/menus/items/{{ menuItem._id }}/categories/{{ menuItemCategory._id }}/offer/edit/{{ menuCategoryItem._id }}/combination/edit/{{meal._id}}/dishes/edit/{{dish._id}}" class="kt-nav__link">-->
                                    <a href="#" data-toggle="modal" data-target="#add-meal-modal-{{dish._id}}" class="kt-nav__link">
                                      <i class="kt-nav__link-icon flaticon2-contract"></i>
                                      <span class="kt-nav__link-text">Modifier</span>
                                    </a>
                                  </li>
                                  <li class="kt-nav__item">
                                    <a href="/admin/menus/items/{{ menuItem._id }}/categories/{{ menuItemCategory._id }}/offer/edit/{{ menuCategoryItem._id }}/combination/delete/{{meal._id}}/dishes/delete/{{dish._id}}" class="kt-nav__link">
                                      <i class="kt-nav__link-icon flaticon2-trash"></i>
                                      <span class="kt-nav__link-text">Supprimer</span>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>

                        {% include './partial/add-new-meal-modal.twig' with dish %}

                      {% endfor %}
                    {% endif %}
                  </div>
                </div>

                {% if meal %}
                  <button type="button" class="btn btn-outline-brand" data-toggle="modal" data-target="#add-meal-modal">
                    Ajouter un met
                  </button>
                {% endif %}
              </div>
            </div>

          {% if meal %}
            <!-- Modal -->
            {% include './partial/add-new-meal-modal.twig' %}
          {% endif %}
      
        </div>
      </div>
    </div>  
    
  </div>

  <!-- end:: Content -->
</div>
{% endblock %}

{% block script %}
<script>
jQuery(document).ready(function() {
  const mealId = "{{ meal._id }}";

  const mealJsElm = document.createElement("script");
  mealJsElm.type = "application/javascript";
  if (mealId) {
    mealJsElm.src = "/backoffice/assets/js/pages/custom/menus/items/category/offer/combination/edit.js";
    document.body.appendChild(mealJsElm);
  } else {
    mealJsElm.src = "/backoffice/assets/js/pages/custom/menus/items/category/offer/combination/add.js";
    document.body.appendChild(mealJsElm);
  }

});
</script>
{% endblock %}