{% extends "views/backoffice/layout.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block head_link %}
<link href="/backoffice/assets/css/pages/wizards/wizard-v3.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

  <!-- begin:: Content Head -->
  <div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container kt-container--fluid ">
      <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">Ajout de combinaison à l'offre {{ menuCategoryItem.item.title }} de la categorie {{ menuItemCategory.category.title }} du menu du {{ menuItem.availableAt|date("d F Y") }}</h3>
      </div>
      <div class="kt-subheader__toolbar">
        <a href="/admin/menus/items/edit/{{ menuItem._id }}" class="btn btn-brand btn-bold">Retour au menu</a>
        <a href="/admin/menus/items/{{ menuItem._id }}/categories/{{ menuItemCategory._id }}/offer/edit/{{ menuCategoryItem._id }}/combination/add" class="btn btn-brand btn-bold">Ajouter une combinaison</a>
      </div>
    </div>
  </div>

  <!-- end:: Content Head -->

  <!-- begin:: Content -->
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet">
      <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="kt-wizard-v3" id="kt_wizard_v3">
          <!--begin:Form-->
          <form class="kt-form" id="add-menu-items-category-offer-form">

            <div class="kt-wizard-v3__content">
              <div class="kt-separator kt-separator--height-xs"></div>
              <div class="kt-form__section kt-form__section--first">

                <h4>Les combinaisons</h4>

                <div class="kt-portlet__body">
                  <div class="kt-widget-17">
                    {% if menuCategoryItem.item.meals is empty %}
                      Aucune combinaison
                    {% else %}
                      {% for meal in menuCategoryItem.item.meals %}
                        <div class="kt-widget-17__item">
                          <div class="kt-widget-17__product">
                            <div class="kt-widget-17__product-desc">
                              <div class="kt-widget-17__title">
                                {{ meal.title }}
                              </div>
                            </div>
                            <div class="kt-widget-17__thumb">
                            </div>
                          </div>
                          <div class="kt-widget-17__prices">
                            <div class="kt-widget-17__sku mr-5">
                              {{ meal.order }}
                            </div>
                            <div class="dropdown">
                              <a href="javascript:;" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown">
                                <i class="flaticon-more-1"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <ul class="kt-nav">
                                  <li class="kt-nav__item">
                                    <a href="/admin/menus/items/{{ menuItem._id }}/categories/{{ menuItemCategory._id }}/offer/edit/{{ menuCategoryItem._id }}/combination/edit/{{meal._id}}" class="kt-nav__link">
                                      <i class="kt-nav__link-icon flaticon2-contract"></i>
                                      <span class="kt-nav__link-text">Modifier</span>
                                    </a>
                                  </li>
                                  <li class="kt-nav__item">
                                    <a href="/admin/menus/items/{{ menuItem._id }}/categories/{{ menuItemCategory._id }}/offer/edit/{{ menuCategoryItem._id }}/combination/delete/{{meal._id}}" class="kt-nav__link">
                                      <i class="kt-nav__link-icon flaticon2-trash"></i>
                                      <span class="kt-nav__link-text">Supprimer</span>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>

              </div>
            </div>

            <!--begin:Form Actions -->
            <div class="kt-form__actions">
              <a class="btn btn-secondary" href="/admin/menus/items/list">Annuler</a>
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>

            <!--end:Form Actions -->
          </form>

          <!--end:Form-->
        </div>
      </div>
    </div>  
    
  </div>

  <!-- end:: Content -->
</div>
{% endblock %}