<!DOCTYPE html>
<html lang="en">
  <head>
    {% if env == 'production' %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141257538-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-141257538-1');
      </script>

      <!-- Cris tag -->
      <script type="text/javascript">
        window.$crisp=[];window.CRISP_WEBSITE_ID="1068c9d1-7adf-4b1e-84f1-ad4681db9e6f";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
      </script>
    {% endif %}
    {% block head %}
      <meta charset="utf-8">
      <title>{% block title %}{% endblock %}</title>
      <!-- SEO Meta Tags-->
      <meta name="description" content="CreateX - Multipurpose Bootstrap Theme">
      <meta name="keywords" content="multipurpose, portfolio, blog, shop, e-commerce, modern, flat style, responsive,  business, corporate, mobile, bootstrap 4, html5, css3, jquery, js, gallery, slider, touch, creative, clean">
      <meta name="author" content="NIOMI">
      <!-- Viewport-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Favicon and Touch Icons-->
      <!--<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png"> -->
      <!-- <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png"> -->
      <!--  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"> -->
      <!--<link rel="manifest" href="/site.webmanifest">-->
      <!--<link rel="mask-icon" color="#343b43" href="safari-pinned-tab.svg">-->
      <meta name="msapplication-TileColor" content="#912819">
      <meta name="theme-color" content="#ffffff">
      <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
      <link rel="stylesheet" media="screen" href="/front/css/vendor.min.css">
      <!-- Main Theme Styles + Bootstrap-->
      <link rel="stylesheet" media="screen" href="/front/css/theme.css">
      <!-- Modernizr-->
      <script src="/front/js/modernizr.min.js"></script>
      {% block head_script %}{% endblock %}
    {% endblock %}
  </head>
  <!-- Body-->
  <body>
    <!-- Off-Canvas Menu-->
    <div class="offcanvas-container is-triggered offcanvas-container-reverse" id="mobile-menu">
    <span class="offcanvas-close"><i class="fe-icon-x"></i></span>
      <div class="px-4 pb-4">
        <h6>Menu</h6>
        <div class="d-flex justify-content-between pt-2">
          {% if user %}
            <a class="btn btn-secondary btn-sm btn-block" href="/logout"><i class="fe-icon-log-out"></i>&nbsp;Déconnexion</a>
          {% else %}
            <a class="btn btn-secondary btn-sm btn-block" href="/login"><i class="fe-icon-user"></i>&nbsp;Connexion</a>
          {% endif %}
        </div>
      </div>
      <div class="offcanvas-scrollable-area border-top" style="height:calc(100% - 235px); top: 144px;">
        <!-- Mobile Menu-->
        <div class="accordion mobile-menu" id="accordion-menu">
          <!-- Home-->
          <div class="card">
            <div class="card-header">
              <a class="mobile-menu-link active" href="/">Accueil</a>
            </div>
          </div>
          <!-- Account-->
          <div class="card">
            <div class="card-header">
              {% if user %}
                <a class="mobile-menu-link" href="/account/profile">Mon compte</a>
              {% else %}
                <a class="mobile-menu-link" href="/login">Connexion / Inscription</a>
              {% endif %}
            </div>
          </div>
        <div class="card">
          <div class="card-header">
            <a class="mobile-menu-link" href="/blog">Blog</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="mobile-menu-link" href="/about-us">À propos</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="mobile-menu-link" href="/our-engagements">Nos engagements</a>
          </div>
        </div>-->
        <!--<div class="card">
          <div class="card-header">
            <a class="mobile-menu-link" href="/process-stop-covid">#COVID-19 – action mise en place</a>
          </div>
        </div>-->

        </div>
      </div>
      <div class="offcanvas-footer px-4 pt-3 pb-2 text-center">
        <a class="social-btn sb-style-3 sb-instagram" href="#"><i class="socicon-instagram"></i></a>
        <a class="social-btn sb-style-3 sb-facebook" href="#"><i class="socicon-facebook"></i></a>
        <a class="social-btn sb-style-3 sb-pinterest" href="#"><i class="socicon-pinterest"></i></a>
      </div>
    </div>
    <!-- Navbar: Simple-->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
    <header class="navbar-wrapper navbar-boxed">
      {% if not user %}
        <div class="text-center text-lg pb-2 pt-2" style="background-color: #ffb822;">Bienvenue chez Niomi ! <strong>3€ offerts</strong> sur votre 1ère commande avec le code <strong>AKWABA</strong> !</div>
      {% elseif user.profile.professionalActivity == 'STUDENT' %}
        <div class="text-center text-lg pb-2 pt-2" style="background-color: #ffb822;"><strong>Livraison offerte</strong> et <strong>15% de réduction </strong>sur chaque commande pour <strong>les étudiants</strong> !</div>
      {% endif %}


      <div class="container">
        <div class="d-table-cell align-middle pr-md-3"><a class="navbar-brand mr-1" href="/"><img src="/img/logo/logo-light.png" alt="NIOMI"/></a></div>
        <div class="d-table-cell w-100 align-middle pl-md-3">
          <div class="navbar-top d-none d-lg-flex justify-content-between align-items-center">
            <div>
              <a class="navbar-link mr-3" href="tel:0755480116"><i class="fe-icon-phone"></i><span class="text-md">07 55 48 01 16</span></a>
              <a class="navbar-link mr-3" href="mailto:sav@niomi.fr"><i class="fe-icon-mail"></i><span class="text-md">sav@niomi.fr</span></a>
              <a class="social-btn sb-style-3 sb-instagram" target="_blank" href="https://www.instagram.com/eatniomi/"><i class="socicon-instagram"></i></a>
              <a class="social-btn sb-style-3 sb-facebook" target="_blank" href="https://www.facebook.com/eatniomi/?modal=admin_todo_tour"><i class="socicon-facebook"></i></a>
              <a class="social-btn sb-style-3 sb-linkedin" target="_blank" href="https://www.linkedin.com/company/37813255/admin/"><i class="socicon-linkedin"></i></a>
            </div>

            {% if user %}
              <div>
                <a class="navbar-link" href="/logout"><i class="fe-icon-log-out"></i>Déconnexion</a>
              </div>
            {% else %}
              <div>
                <ul class="list-inline mb-0">
                  <li class="dropdown-toggle mr-2"><a class="navbar-link" href="/login"><i class="fe-icon-user"></i>Connexion ou Inscription</a>
                    <div class="dropdown-menu right-aligned p-3 text-center" style="min-width: 200px;">
                      <p class="text-sm opacity-70">Connectez-vous ou inscrivez-vous pour pouvoir gérer vos commandes, recevoir des bonus et bénéficiez d'autres fonctionnalités pratiques.</p>
                      <a class="btn btn-secondary btn-sm btn-block" href="/login">Connexion</a>
                      <p class="text-sm text-muted mt-3 mb-0">Nouveau client ? <a href='/signup'>Inscription</a></p>
                    </div>
                  </li>
                </ul>
              </div>
            {% endif %}
        </div>
          <div class="navbar justify-content-end justify-content-lg-between">
            <!-- Search-->
            <form class="search-box" method="get">
              <input type="text" id="site-search" placeholder="Type A or C to see suggestions"><span class="search-close"><i class="fe-icon-x"></i></span>
            </form>
            <!-- Main Menu-->
            <ul class="navbar-nav d-none d-lg-block">
              <!-- Home-->
              <li class="nav-item {% if originalUrl == '/' %}active{% endif %}"><a class="nav-link" href="/">Accueil</a></li>
              <!-- Account-->
              {% if user %}
                <li class="nav-item {% if originalUrl matches '/\/account/' %}active{% endif %}"><a class="nav-link" href="/account/profile">Mon compte</a></li>
              {% else %}
                <li class="nav-item {% if originalUrl matches '/\/login/' or originalUrl matches '/\/signup/' %}active{% endif %}"><a class="nav-link" href="/login">Connexion / Inscription</a></li>
              {% endif %}
              <li class="nav-item {% if originalUrl matches '/\/blog/' %}active{% endif %}"><a class="nav-link" href="/blog">Blog</a></li>
              <li class="nav-item {% if originalUrl matches '/\/about-us/' %}active{% endif %}"><a class="nav-link" href="/about-us">À propos</a></li>
              <li class="nav-item {% if originalUrl matches '/\/our-engagements/' %}active{% endif %}"><a class="nav-link" href="/our-engagements">Nos engagements</a></li>
              <!--<li class="nav-item {% if originalUrl matches '/\/process-stop-covid/' %}active{% endif %}"><a class="nav-link" href="/process-stop-covid">#COVID-19 – action mise en place</a></li>-->
            </ul>
            <div>
            {% set shoppingCart = session.shoppingCart %}
            {% set basketQuantity = 0 %}
            {% if shoppingCart %}
              {% for menuCategoryItem in shoppingCart.items %}
                {% set basketQuantity = basketQuantity + menuCategoryItem.quantity %}
              {% endfor %}
            {% endif %}
              <ul class="navbar-buttons d-inline-block align-middle">
                <li class="d-block d-lg-none"><a href="#mobile-menu" data-toggle="offcanvas"><i class="fe-icon-menu"></i></a></li>
                <li><a href="/checkout" data-toggle="offcanvas"><i class="fe-icon-shopping-cart"></i></a><span id="basket-total-number" class="badge badge-pill badge-primary">{{ basketQuantity }}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Page Content-->
    {% block content %}
    {% endblock %}
    <!-- Footer-->
    {% block footer %}
      <footer class="d-lg-flex align-items-center bg-primary">
      <div class="w-100 py-3 px-2">
        <div class="mx-auto text-center" style="max-width: 400px;">
          <h6 class="text-white text-center">Découvrez nous sur les médias sociaux</h6>
          <div class="text-center pt-2 pb-4 mb-2">
            <a class="social-btn sb-style-6 sb-instagram sb-light-skin" target="_blank" href="https://www.instagram.com/eatniomi/"><i class="socicon-instagram"></i></a>
            <a class="social-btn sb-style-6 sb-facebook sb-light-skin" target="_blank" href="https://www.facebook.com/eatniomi/?modal=admin_todo_tour"><i class="socicon-facebook"></i></a>
            <a class="social-btn sb-style-6 sb-linkedin sb-light-skin" target="_blank" href="https://www.linkedin.com/company/37813255/admin/"><i class="socicon-linkedin"></i></a>
          </div>
          <p class="m-0 text-sm text-white"><span class='opacity-60'>©Niomi 2020</span></p>
        </div>
      </div>
      <div class="w-100 py-3 px-2">
        <div class="widget widget-gallery mb-0 mx-auto" style="max-width: 400px;">
          <!-- LightWidget WIDGET -->
          <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
          <iframe src="https://cdn.lightwidget.com/widgets/87ce5de53b215abb82b9ef09702804c3.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
          <div class="pt-1"><a class="btn btn-block btn-secondary" target="_blank" href="https://www.instagram.com/eatniomi/"><i class="fe-icon-instagram"></i>&nbsp;Suivez-nous sur Instagram</a></div>
        </div>
      </div>
      <div class="w-100 py-3 px-2">
        <div class="mx-auto" style="max-width: 550px;">
          <h6 class="text-sm font-weight-medium text-white text-uppercase text-center">Découvrez notre newsletter</h6>
          <p class="text-sm text-white opacity-60 text-center pb-1">Pour recevoir nos derniers contenus et inspirations gourmandes.</p>
          <form action="/mailchimp/subscribers/add" method="POST">
            <div class="input-group">
              <input class="form-control form-control-light-skin" type="email" name="email" placeholder="Email" required>
              <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">Je rejoins la communauté</button>
              </div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
            </div>
          </form>
        </div>
      </div>
    </footer>
  {% endblock %}
    <!-- Back To Top Button--><a class="scroll-to-top-btn" href="#"><i class="fe-icon-chevron-up"></i></a>
    <!-- Backdrop-->
    <div class="site-backdrop"></div>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="/front/js/vendor.min.js"></script>
    <script src="/front/js/theme.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/localization/messages_fr.min.js"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>