{% extends "views/backoffice/layout.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block head_link %}
  <link href="/backoffice/assets/css/pages/login/login-v2.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
	<body class="kt-login-v2--enabled kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

		<!-- begin:: Page -->
		<div class="kt-grid kt-grid--ver kt-grid--root">
			<div class="kt-grid__item   kt-grid__item--fluid kt-grid  kt-grid kt-grid--hor kt-login-v2" id="kt_login_v2">

				<!--begin::Item-->
				<div class="kt-grid__item  kt-grid--hor">

					<!--begin::Head-->
					<div class="kt-login-v2__head">
						<div class="kt-login-v2__logo">
							<a href="/admin">
                <img src="/img/logo/logo-light.png" alt="" />
							</a>
						</div>
					</div>

					<!--begin::Head-->
				</div>

				<!--end::Item-->

				<!--begin::Item-->
				<div class="kt-grid__item  kt-grid  kt-grid--ver  kt-grid__item--fluid">

					<!--begin::Body-->
					<div class="kt-login-v2__body">

						<!--begin::Wrapper-->
						<div class="kt-login-v2__wrapper">
							<div class="kt-login-v2__container">
								<div class="kt-login-v2__title">
									<h3>Connexion</h3>
								</div>

								<!--begin::Form-->
								<form class="kt-login-v2__form kt-form" autocomplete="off" id="kt_login_form" action="">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Nom d'utilisateur" name="username" autocomplete="off">
									</div>
									<div class="form-group">
										<input class="form-control" type="password" placeholder="Password" name="password" autocomplete="off">
									</div>

									<!--begin::Action-->
									<div class="kt-login-v2__actions">
										<!-- <a href="#" class="kt-link kt-link--brand">
											Mot de passe oublié ?
										</a>
                    -->
										<button type="submit" class="btn btn-brand btn-elevate btn-pill" id="kt_login_submit">Je me connecte</button>
									</div>

									<!--end::Action-->
								</form>

								<!--end::Form-->

							</div>
						</div>

						<!--end::Wrapper-->

					</div>

					<!--begin::Body-->
				</div>

				<!--end::Item-->

				<!--begin::Item-->
				<div class="kt-grid__item">
					<div class="kt-login-v2__footer">
						<div class="kt-login-v2__info">
							<a href="#" class="kt-link">&copy; 2020 NIOMI</a>
						</div>
					</div>
				</div>

				<!--end::Item-->
			</div>
		</div>

		<!-- end:: Page -->

		<!-- begin::Global Config(global config for global JS scripts) -->
		<script>
			var KTAppOptions = {
				"colors": {
					"state": {
						"brand": "#912819",
						"metal": "#c4c5d6",
						"light": "#ffffff",
						"accent": "#00c5dc",
						"primary": "#5867dd",
						"success": "#34bfa3",
						"info": "#36a3f7",
						"warning": "#ffb822",
						"danger": "#fd3995",
						"focus": "#9816f4"
					},
					"base": {
						"label": [
							"#c5cbe3",
							"#a1a8c3",
							"#3d4465",
							"#3e4466"
						],
						"shape": [
							"#f0f3ff",
							"#d9dffa",
							"#afb4d4",
							"#646c9a"
						]
					}
				}
			};
		</script>

		<!-- end::Global Config -->

		<!--begin::Global Theme Bundle(used by all pages) -->
		<script src="/backoffice/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
		<script src="/backoffice/assets/js/scripts.bundle.js" type="text/javascript"></script>

		<!--end::Global Theme Bundle -->

		<!--begin::Page Scripts(used by this page) -->
		<script src="/backoffice/assets/js/pages/custom/user/login.js" type="text/javascript"></script>
    
		<!--end::Page Scripts -->
	</body>
{% endblock %}