{% extends "views/front/layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="container mb-3 mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 pb-5">
        <h3 class="h4 pb-1">Connexion</h3>
        <form class="needs-validation wizard" action="/login" method="POST">
          <div class="wizard-body pt-2">
            <div class="text-lg text-primary mb-3">Connectez-vous ou inscrivez-vous pour effectuer une commande et suivre son acheminement jusqu'à votre adresse. Vous pourrez également consulter l'historique de vos commandes et bénéficier de nos offres de réduction.</div>
            <div class="d-sm-flex flex-wrap justify-content-center">
              <p class="text-lg text-muted mt-3 mb-3 text-center font-weight-bolder">Nouveau client ? <a href='/signup'>Inscription</a></p>
            </div>
            <div class="d-sm-flex justify-content-center">
              <ul class="list-unstyled">
                  <!--
                    <li>
                      <a class="btn btn-info btn-block my-2 mr-3" href="/auth/facebook"><i class="socicon-facebook"></i>&nbsp;Connexion avec Facebook</a>
                    </li>
                  -->
                  <li>
                      <a class="btn btn-danger btn-block my-2 mr-3" href="/auth/google"><i class="socicon-google"></i>&nbsp;Connexion avec Google</a>
                  </li>
              </ul>
            </div>
            <div class="d-sm-flex justify-content-center">
              {% if messages.authProviderErrors %}
                <ul class="list-unstyled text-danger text-lg font-weight-bolder">
                  {% for error in messages.authProviderErrors %}
                    <li>{{ error.msg }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <hr>
            <h3 class="h5 pt-4 pb-2 text-center">Ou</h3>
            <div class="input-group form-group">
              <div class="input-group-prepend"><span class="input-group-text"><i class="fe-icon-mail"></i></span></div>
              <input class="form-control" type="email" placeholder="Email" name="email" required>
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend"><span class="input-group-text"><i class="fe-icon-lock"></i></span></div>
              <input class="form-control" type="password" placeholder="Mot de passe" name="password" required>
            </div>
            <div class="d-sm-flex justify-content-center">
              {% if messages.formErrors %}
                <ul class="list-unstyled text-danger text-lg">
                  {% for error in messages.formErrors %}
                    <li><strong>{{ error.msg }}</strong></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="d-flex flex-wrap justify-content-between">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" checked id="remember-me">
              </div><a class="navi-link" href="/password-recovery">Mot de passe oublié ?</a>
            </div>
          </div>
          <div class="wizard-footer text-right">
            <button class="btn btn-secondary" type="submit">Je me connecte</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}