{% extends "views/front/layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container mb-3 mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 pb-5">
          <h3 class="h4 pb-1">Inscription</h3>
          <form class="needs-validation wizard" action="/signup" method="POST">
            <div class="wizard-body pt-2">
              <div class="d-sm-flex justify-content-center">
                <ul class="list-unstyled">
                    <!--
                    <li>
                        <a class="btn btn-info btn-block my-2 mr-3" href="/auth/facebook"><i class="socicon-facebook"></i>&nbsp;Connexion avec Facebook</a>
                    </li>
                    -->
                    <li>
                        <a class="btn btn-danger btn-block my-2 mr-3" href="/auth/google"><i class="socicon-google"></i>&nbsp;Connexion avec Google</a>
                    </li>
                </ul>
              </div>
              <hr>
              <h3 class="h5 pt-4 pb-2">Ou</h3>
              <div class="input-group form-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fe-icon-user"></i></span></div>
                <input class="form-control" type="text" placeholder="Prénom" name="firstName" required>
              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fe-icon-user"></i></span></div>
                <input class="form-control" type="text" placeholder="Nom (facultatif)" name="lastName">
              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fe-icon-mail"></i></span></div>
                <input class="form-control" type="email" placeholder="Email" name="email" required>
              </div>
              <div class="input-group form-group">
              <div class="input-group-prepend"><span class="input-group-text"><i class="fe-icon-phone"></i></span></div>
                <input class="form-control" type="tel" placeholder="Numéro de téléphone mobile (facultatif)" name="phoneNumber"
                pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$">
              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fe-icon-lock"></i></span></div>
                <input class="form-control" type="password" placeholder="Mot de passe (min 6 caractères)" name="password" minlength="6" required>
              </div>
              <div class="d-sm-flex justify-content-center">
                {% if messages.formErrors %}
                  <ul class="list-unstyled text-danger text-lg font-weight-bolder">
                    {% for error in messages.formErrors %}
                      <li><strong>{{ error.msg }}</strong></li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </div>
            <div class="wizard-footer text-right">
              <button class="btn btn-secondary" type="submit">Je m'inscris</button>
            </div>
            <div class="d-sm-flex flex-wrap justify-content-center">
              <p class="text-lg text-muted mt-3 mb-3 text-center">Déjà client ? <a href='/login'>Connexion</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}