{% set url = originalUrl %}
<nav class="list-group list-group-flush">
  <a class="list-group-item {% if url matches '/orders/' %}active{% endif %}" href="/account/orders"><i class="fe-icon-shopping-bag mr-1 text-muted"></i>Mes commandes</a>
  <a class="list-group-item {% if url matches '/profile/' %}active{% endif %}" href="/account/profile"><i class="fe-icon-user text-muted"></i>Mon profil</a>
  <a class="list-group-item {% if url matches '/addresses/' %}active{% endif %}" href="/account/addresses"><i class="fe-icon-map-pin text-muted"></i>Mes adresses</a>
  <a class="list-group-item {% if url matches '/jackpot/' %}active{% endif %}" href="/account/jackpot"><i class="fe-icon-dollar-sign text-muted"></i>Ma cagnotte</a>
  <!-- <a class="list-group-item {% if url matches '/maintenance/' %}active{% endif %}" href="/account/maintenance"><i class="fe-icon-credit-card text-muted"></i>Parrainage</a> -->
</nav>