<div class="modal fade add-new-address-modal" data-address-id="{% if address %}{{ address._id }}{% endif %}" id="add-new-address-modal{% if address %}-{{ address._id }}{% endif %}" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{% if address %}Modifier l'adresse{% else %}Nouvelle adresse{% endif %}</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      
      <div class="modal-body">
        <form class="row form-update-address" id="form-update-address{% if address %}-{{ address._id }}{% endif %}" method="POST">

          <input hidden type="text" id="id{% if address %}-{{ address._id }}{% endif %}" name="id" {% if address %}value="{{ address._id }}"{% endif %}>

          <div class="col-md-12">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fe-icon-map-pin"></i>
                </span>
              </div>
              <input class="form-control" type="text" id="formattedAddress{% if address %}-{{ address._id }}{% endif %}" name="formattedAddress" placeholder="Adresse de livraison" {% if address %}value="{{ address.formattedAddress }}"{% endif %} required>
            </div>
          </div>

          <input id="street_number{% if address %}-{{ address._id }}{% endif %}" name="street_number" {% if address %}value="{{ address.streetNumber }}"{% endif %} hidden>
          <input id="route{% if address %}-{{ address._id }}{% endif %}" name="route" {% if address %}value="{{ address.route }}"{% endif %} hidden>
          <input id="locality{% if address %}-{{ address._id }}{% endif %}" name="locality" {% if address %}value="{{ address.locality }}"{% endif %} hidden>
          <input id="administrative_area_level_1{% if address %}-{{ address._id }}{% endif %}" name="administrative_area_level_1" {% if address %}value="{{ address.administrativeArea }}"{% endif %} hidden>
          <input id="postal_code{% if address %}-{{ address._id }}{% endif %}" name="postal_code" {% if address %}value="{{ address.postalCode }}"{% endif %} hidden>
          <input id="country{% if address %}-{{ address._id }}{% endif %}" name="country" {% if address %}value="{{ address.country }}"{% endif %}  hidden>

          <div class="col-md-6">
            <div class="input-group form-group">
              <input class="form-control" type="text" id="additionalInformation{% if address %}-{{ address._id }}{% endif %}" name="additionalInformation" {% if address %}value="{{ address.additionalInformation }}"{% endif %} placeholder="Bureau, Etage, Appart">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group form-group">
              <input class="form-control" type="text" id="companyName{% if address %}-{{ address._id }}{% endif %}" name="companyName" placeholder="Nom de l'entreprise" {% if address %}value="{{ address.companyName }}"{% endif %}>
            </div>
          </div>

          <div class="col-md-12">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fe-icon-info"></i>
                </span>
              </div>
              <input class="form-control" type="text" id="instruction{% if address %}-{{ address._id }}{% endif %}" name="instruction" placeholder="Instructions de livraison" {% if address %}value="{{ address.instruction }}"{% endif %}>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                <i class="fe-icon-user"></i>
                </span>
              </div>
              {% set firstName = address and address.firstName ? address.firstName : user.profile.firstName %}
              <input class="form-control" type="text" id="firstName{% if address %}-{{ address._id }}{% endif %}" name="firstName" placeholder="Prénom" required value="{{ firstName }}">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                <i class="fe-icon-user"></i>
                </span>
              </div>
              {% set lastName = address and address.lastName ? address.lastName : user.profile.lastName %}
              <input class="form-control" type="text" id="lastName{% if address %}-{{ address._id }}{% endif %}" name="lastName" placeholder="Nom" value="{{ lastName }}">
            </div>
          </div>

          <div class="col-md-6">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                <i class="fe-icon-phone"></i>
                </span>
              </div>
              {% set phoneNumber = address and address.phoneNumber ? address.phoneNumber : user.phoneNumber %}
              <input class="form-control" type="tel" id="phoneNumber{% if address %}-{{ address._id }}{% endif %}" name="phoneNumber"  placeholder="Numéro" value="{{ phoneNumber }}"
              pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group form-group">
              <input class="form-control" type="text" id="alias{% if address %}-{{ address._id }}{% endif %}" name="alias" placeholder="Alias (ex: Bureau, Maison)" {% if address %}value="{{ address.alias }}"{% endif %}>
            </div>
          </div>

          <div class="d-sm-flex justify-content-center">
            <ul id="errorMessages" class="list-unstyled text-danger text-lg font-weight-bolder">
            </ul>
          </div>

          <div class="col-md-12 text-right">
            <button class="btn btn-secondary" type="submit">Enregistrer</button>
          </div>

        </form>
      </div>
      
    </div>
  </div>
</div>