<div class="modal fade" class="confirm-delete-address-modal" id="confirm-delete-address-modal{% if address %}-{{ address._id }}{% endif %}" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation de supression</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      
      <div class="modal-body">
        <p class="text-lg">Êtes vous sûr de vouloir supprimer cette adresse ?</p>
      </div>

      <div class="modal-footer">
          <a class="btn btn-sm btn-cancel mr-3" data-dismiss="modal" href="#">Annuler</a>
          <a class="btn btn-sm btn-secondary text-right validate-delete-address" data-address-id="{{ address._id }}" href="#">Valider</a>
      </div>

    </div>
  </div>
</div>