{% extends "views/front/layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="container pt-5 pb-5 mb-3">
    <!-- Blog Grid-->
    <div class="isotope-grid cols-3">
      <div class="gutter-sizer"></div>
      <div class="grid-sizer"></div>
      <!-- Post-->
      <div class="grid-item">
        <div class="card blog-card mb-2"><a class="post-thumb" href="/blog/conseils-alimentaires-hiver"><img src="/img/hiver_femme.jpeg" alt="Post Thumbnail"/></a>
          <div class="card-body">
            <h5 class="post-title"><a href="/blog/conseils-alimentaires-hiver">Quelques conseils alimentaires pour affronter l'hiver sereinement</a></h5>
            <a class="tag-link" href="#">Santé</a>
          </div>
          <div class="card-footer">
            <div class="post-meta">
              <span>
                <i class="fe-icon-clock"></i>Nov 30, 2020
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}