{% extends "views/front/layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="container pt-5 pb-5 mb-3">
    <div class="row">
      <!-- Post Content-->
      <div class="col-lg-12">
        <!-- Single Post Meta-->
        <hr class="mb-4">
        <!-- Quotation-->
          <figure class="figure">
            <img class="figure-img" src="/img/hiver_femme.jpeg" alt="Image with caption">
          </figure>           

        <h4>Une saison hivernale particulièrement hostile</h4>
        <p class="pt-4 pb-3 text-lg"><strong>Winter is coming </strong>: le froid arrive à grand pas, et d’après les prévisions météorologiques cette année l’hiver sera particulièrement rude. D’autant plus que nous ferons face non pas seulement à la grippe et autres petits rhumes de la saison, mais à la Covid-19. <br> Pendant la période où les microbes s'échangent facilement et notre corps est confronté à un temps hostile, notre système immunitaire ne peut qu'être fragilisé. Autant de raisons pour renforcer les défenses de l’organisme et le préparer à passer ces mois hivernaux. </p>

        <h4>Activité physique et alimentation saine pour renforcer le système immunitaire</h4>
        <p class="pt-4 pb-3 text-lg">Le premier levier naturel pour renforcer nos anti-corps est la pratique régulière d’une activité physique. Au-delà, nous comptons principalement sur une alimentation saine et équilibrée, mais encore, sur certains aliments qui sont particulièrement aidants, et que nous vous recommandons.
        <br><br>La cuisine africaine regorge de beaucoup d'aliments possédant les qualités nutritionnelles nécessaires pour renforcer le système immunitaire. Vous pourrez simplement introduire leur consommation régulière dans vos habitudes alimentaires, ou commander auprès de Niomi les plats qui les comportent.</p>

        <h4>Le baobab</h4>
        <p class="pt-4 pb-3 text-lg">La poudre de baobab est l’un de ces produits qui boostent le système immunitaire : extraite de la pulpe de cet arbre centenaire,  elle rentre dans la composition de beaucoup de recettes issues des cuisines africaines. 
          <br>Ses apports nutritionnels ne sont plus à démontrer : très riche en calcium, elle contient de  manière significative des vitamines du groupe B (thiamine  B1,  riboflavine  B2  ou  niacine  B3)  et des acides aminés. Sa forte teneur en vitamine C renforce le système immunitaire, améliore l’absorption du fer, et facilite le transit intestinal.
          <br><br>En plat, vous pouvez tester le jus de "Bouyé", très prisé en  Afrique de l’Ouest, à base de ce fruit dont les teneurs en calcium et en vitamine C dépasse largement celles du lait et des oranges respectivement. Un bon mélange ! Sinon, vous pouvez également l’incorporer dans vos recettes de gâteaux (panacotta, sablés de citron, madeleines…)
        </p>
        
        <h4>La fleur d'hibiscus</h4>
        <p class="pt-4 pb-3 text-lg">
          La fleur d’hibiscus est un puissant antioxydant. Il est gorgé de vitamines d’acides organiques.
          Riche en vitamine C, anti-oxydante et anti-bactérienne, l’hibiscus aide à lutter contre la fatigue tout en renforçant les défenses naturelles.
          <br>Elle peut être consommée en boisson légèrement sucrée, ‘le bissap’, ou pour sublimer vos desserts.
          <br>Moins connu que le bissap rouge, le bissap blanc, avec son goût acidulé et ses vertus digestives, mérite aussi d’être bien connu.
        </p>

        <h4>Chez Niomi</h4>
        <p class="pt-4 pb-3 text-lg">
          Chez Niomi nous vous proposons dans nos menus le jus de bissap rouge (à base de fleurs d'hibiscus rouge), le jus de bissap blanc (à base de fleurs d'hibiscus blanc) ainsi que le que le jus baobab.
          <br><br>N’attendez plus et venez déguster nos jus best-sellers disponibles <a href="/">ici</a>. 
        </p>

        <!-- Single Post Tags + Share-->
        <div class="d-sm-flex justify-content-between align-items-center border-top border-bottom mb-5 py-2">
          <div class="py-2"><a class="tag-link" href="#">Santé</a></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}