<div class="modal fade add-meal-modal" data-dish-id="{% if dish %}{{ dish._id }}{% endif %}" id="add-meal-modal{% if dish %}-{{ dish._id }}{% endif %}" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{% if dish %}Modifier le plat{% else %}Ajouter un plat{% endif %}</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      
      <div class="modal-body">
        <form class="row {% if dish %}form-handle-dish{% endif %}" id="form-handle-dish{% if dish %}-{{ dish._id }}{% endif %}" method="POST">

          <input hidden type="text" id="{% if dish %}-{{ dish._id }}{% endif %}" name="dishId" {% if dish %}value="{{ dish._id }}"{% endif %}>

          <div class="col-md-12">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fe-icon-map-pin"></i>
                </span>
              </div>
                <select class="form-control" name="dish">
                  <option value="">Choisir un plat</option>
                  {% for dishItem in dishes %}
                    <option {% if dishItem._id|trim == dish.dish._id|trim %}selected{% endif %} value="{{ dishItem._id }}">{{ dishItem.title }}</option>
                  {% endfor %}
                </select>
            </div>
          </div>

          <div class="col-md-12">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fe-icon-info"></i>
                </span>
              </div>
              <input class="form-control" type="number" id="additional-price{% if dish %}-{{ dish._id }}{% endif %}" name="additionalPrice" placeholder="Prix additionnel" {% if dish %}value="{{ dish.additionalPrice }}"{% endif %}>
            </div>
          </div>

          <div class="d-sm-flex justify-content-center">
            <ul id="errorMessages" class="list-unstyled text-danger text-lg font-weight-bolder">
            </ul>
          </div>

          <div class="col-md-12 text-right">
            <button class="btn btn-secondary" type="submit">Enregistrer</button>
          </div>

        </form>
      </div>
      
    </div>
  </div>
</div>