{% extends "views/backoffice/layout.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block head_link %}
<link href="/backoffice/assets/css/pages/wizards/wizard-v3.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

  <!-- begin:: Content Head -->
  <div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container kt-container--fluid ">
      <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">{{ title }}</h3>
      </div>
      <div class="kt-subheader__toolbar">
        <a href="/admin/users/list" class="btn btn-brand btn-bold">Liste des utilisateurs</a>
      </div>
    </div>
  </div>

  <!-- end:: Content Head -->

  <!-- begin:: Content -->
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet">
      <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="kt-wizard-v3" id="kt_wizard_v3">

          <!--begin:Form-->
          <form class="kt-form" id="kt_form">

            <div class="kt-wizard-v3__content">
              <div class="kt-separator kt-separator--height-xs"></div>
              <div class="kt-form__section kt-form__section--first">
                {% if adminUserItem %}<input type="hidden" value="{{adminUserItem._id}}" id="adminUserid">{% endif %}
                <div class="form-group">
                  <label>Nom:</label>
                  <input type="text" class="form-control" name="lastName" {% if adminUserItem %} value="{{adminUserItem.lastName}}" {% endif %}>
                </div>
                <div class="form-group">
                  <label>Prénom:</label>
                  <input type="text" class="form-control" name="firstName" {% if adminUserItem %} value="{{adminUserItem.firstName}}" {% endif %}>
                </div>
                <div class="form-group">
                  <label>Nom d'utilisateur:</label>
                  <input type="text" class="form-control" name="username" {% if adminUserItem %} value="{{adminUserItem.username}}" {% endif %}>
                </div>
                <div class="form-group">
                  <label>Email:</label>
                  <input type="email" class="form-control" name="email" {% if adminUserItem %} value="{{adminUserItem.email}}" disabled{% endif %}>
                </div>
                <div class="form-group">
                  <label>Mot de passe:</label>
                  <input type="password" class="form-control" name="password">
                  <span class="form-text text-muted">Minimum 6 caractères</span>
                </div>
                <div class="form-group">
                  <label>Numéro de téléphone:</label>
                  <input type="text" class="form-control" name="phoneNumber" {% if adminUserItem %} value="{{adminUserItem.phoneNumber}}" {% endif %}>
                </div>
                <div class="form-group">
                  <label>Fonction:</label>
                  <input type="text" class="form-control" name="job" {% if adminUserItem %} value="{{adminUserItem.job}}" {% endif %}>
                </div>
                {% if adminUserItem %}
                  <div class="form-group">
                    <label class="kt-checkbox kt-checkbox--success">
                      <input name="activated" type="checkbox" {% if adminUserItem.activated %} checked="checked" {% endif %}> Activé
                      <span></span>
                    </label>
                  </div>
                {% endif %}
              </div>
            </div>

            <!--begin:Form Actions -->
            <div class="kt-form__actions">
              <a class="btn btn-secondary" href="/admin/users/list">Annuler</a>
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>

            <!--end:Form Actions -->
          </form>

          <!--end:Form-->
        </div>
      </div>
    </div>
  </div>

  <!-- end:: Content -->
</div>
{% endblock %}

{% block script %}
<script>
  const adminUserItemId = "{{ adminUserItem._id }}";
  const userJsElm = document.createElement("script");
  userJsElm.type = "application/javascript";
  if (adminUserItemId) {
    userJsElm.src = "/backoffice/assets/js/pages/custom/users/edit.js";
    document.body.appendChild(userJsElm);
  } else {
    userJsElm.src = "/backoffice/assets/js/pages/custom/users/add.js";
    document.body.appendChild(userJsElm);
  }
</script>
{% endblock %}