{% extends "views/backoffice/layout.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block head_link %}
<link href="/backoffice/assets/css/pages/wizards/wizard-v3.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

  <!-- begin:: Content Head -->
  <div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container kt-container--fluid ">
      <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
          Utilisateurs </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <div class="kt-subheader__toolbar" id="kt_subheader_search">
          <span class="kt-subheader__desc" id="kt_subheader_total"></span>
          <form class="kt-subheader__search" id="kt_subheader_search_form">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Rechercher..." id="generalSearch">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                  <i class="flaticon2-search-1"></i>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="kt-subheader__toolbar">
        <a href="/admin/users/add" class="btn btn-brand btn-bold">Ajouter un utilisateur</a>
      </div>
    </div>
  </div>

  <!-- end:: Content Head -->

  <!-- begin:: Content -->
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <!--begin::Portlet-->
    <div class="kt-portlet kt-portlet--mobile">
      <div class="kt-portlet__body kt-portlet__body--fit">

        <!--begin: Datatable -->
        <div class="kt-datatable" id="kt_apps_user_list_datatable"></div>

        <!--end: Datatable -->
      </div>
    </div>

    <!--end::Portlet-->

    <!--begin::Modal-->
    <div class="modal fade" id="kt_datatable_records_fetch_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Selected Records</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="kt-scroll" data-scroll="true" data-height="200">
              <ul id="kt_apps_user_fetch_records_selected"></ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-brand" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!--end::Modal-->
  </div>

  <!-- end:: Content -->
</div>
{% endblock %}

{% block script %}
<script src="/backoffice/assets/js/pages/custom/users/list-datatable.js" type="text/javascript"></script>
{% endblock %}