<div class="modal fade basket-modal" data-item-id="{{ menuCategoryItem.item.id }}" id="basket-modal-{{ menuCategoryItem.item.id }}" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {% if menuCategoryItem.item.title %}
            {{ menuCategoryItem.item.title }}
          {% elseif {{ menuCategoryItem.item.meals.0.dishes.0.dish.title }} %}
            {{ menuCategoryItem.item.meals.0.dishes.0.dish.title }}
          {% endif %}
        </h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <form class="needs-validation form" id="form-{{ menuCategoryItem.item.id }}">
          <input class="base-price hidden" id="input-base-price-{{ menuCategoryItem.item.id }}" type="hidden" data-price="{{ menuCategoryItem.item.price }}" />
        </form>
          {% if menuCategoryItem.item.meals.0.dishes.0.dish.photo %}
            <figure class="figure">
              <img src="{{ menuCategoryItem.item.meals.0.dishes.0.dish.photo }}" alt="{{ menuCategoryItem.item.meals.0.dishes.0.dish.title }}">
            </figure>
          {% endif %}

          <p class="text-lg mt-3">
            {% if menuCategoryItem.item.description %}
              {{ menuCategoryItem.item.description }}
            {% elseif {{ menuCategoryItem.item.meals.0.dishes.0.dish.description }} %}
              {{ menuCategoryItem.item.meals.0.dishes.0.dish.description }}
            {% endif %}
          </p>
          
          {% if menuCategoryItem.item.meals.0.dishes.0.dish.ingredients %}
            <div class="ingredient mb-3">
              <h6 class="block-title">Ingrédients</h6>
              {{ menuCategoryItem.item.meals.0.dishes.0.dish.ingredients }} 
            </div>
          {% endif %}
          {% if menuCategoryItem.item.meals.0.dishes.0.dish.allergens %}
          <div class="allergen mb-3">
            <h6 class="block-title">Allergènes</h6> 
            {{ menuCategoryItem.item.meals.0.dishes.0.dish.allergens }} 
          </div>  
          {% endif %}

          <div class="btn-quantity text-center" data-menu-category-item-id="{{ menuCategoryItem.item.id }}">
            <a class="btn btn-remove-quantity" href="#">
              <i class="fe-icon-minus-circle text-xxl text-secondary"></i>
            </a>
            <span class="number-quantity text-xxl font-weight-bolder">1</span>
            <a class="btn btn-add-quantity" href="#">
              <i class="fe-icon-plus-circle text-xxl text-secondary"></i>
            </a>
          </div>
      </div>
      
      <div class="modal-footer justify-content-center">
        <button class="btn btn-secondary btn-add-to-cart" type="button">
          <i class="fe-icon-plus mr-2 lead"></i>Ajouter<span class="modal-price text-xl ml-2">{{ menuCategoryItem.item.price }} €</span>
        </button>
      </div>

    </div>
  </div>
</div>