<div class="modal fade basket-modal" data-item-id="{{ menuCategoryItem.item.id }}" id="basket-modal-{{ menuCategoryItem.item.id }}" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ menuCategoryItem.item.title }}</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      
      <div class="modal-body">
        <form class="needs-validation form" id="form-{{ menuCategoryItem.item.id }}">
          <p class="text-lg">{{ menuCategoryItem.item.description }}</p>
          <input class="base-price hidden" id="input-base-price-{{ menuCategoryItem.item.id }}" type="hidden" data-price="{{ menuCategoryItem.item.price }}" />

          {% for meal in menuCategoryItem.item.meals|sortByField('order') %}
            <div class="mb-3">
              <div class="menu-item-title mb-2">
                <h6>{{ meal.title }}</h6>
              </div>
              {% set inputType = meal.link == 'EXCLUSIVE' ? 'radio' : 'checkbox' %}
                {% for dish in meal.dishes %}
                  <div class="custom-control custom-{{ inputType }} ml-4">
                    <input class="custom-control-input" {% if inputType == 'radio' %}required{% endif %} type="{{ inputType }}" id="{{ dish.id }}" data-dish-id="{{ dish.id }}" name="{{ meal.id }}" data-additional-price="{{ dish.additionalPrice ? dish.additionalPrice : 0 }}">
                    <label class="custom-control-label text-xl" for="{{ dish.id }}">{{ dish.dish.title }} {{ dish.link }}
                      {% if dish.additionalPrice %}
                        <span class="ml-4 text-lg">+ {{ dish.additionalPrice }} €</span>
                      {% endif %}
                    </label>
                  </div>
                {% endfor %}
            </div>
          {% endfor %}
        </form>

        <div class="btn-quantity text-center" data-menu-category-item-id="{{ menuCategoryItem.item.id }}">
          <a class="btn btn-remove-quantity" href="#">
            <i class="fe-icon-minus-circle text-xxl text-secondary"></i>
          </a>
          <span class="number-quantity text-xxl font-weight-bolder">1</span>
          <a class="btn btn-add-quantity" href="#">
            <i class="fe-icon-plus-circle text-xxl text-secondary"></i>
          </a>
        </div>

      </div>

      <div class="modal-footer justify-content-center">
        <button class="btn btn-secondary btn-add-to-cart" type="submit">
          <i class="fe-icon-plus mr-2 lead"></i>Ajouter<span class="modal-price text-xl ml-2">{{ menuCategoryItem.item.price }} €</span>
        </button>
      </div>
      
    </div>
  </div>
</div>