{% extends "views/front/layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="container mb-3 mt-30">
    <div class="row">
      <div class="col-md-6 pb-5">
        <form class="needs-validation wizard" action="/checkout/payment" id="form-delivery" method="POST">
          <div class="wizard-body pt-2">
            <h3 class="h5 pt-4 pb-2">Modifier les détails de la livraison</h3>
            
            <div class="d-sm-flex justify-content-center">
              {% if messages.formErrors %}
                <ul class="list-unstyled text-danger text-lg font-weight-bolder">
                  {% for error in messages.formErrors %}
                    <li>{{ error.msg }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>

            <h3 class="h6 pt-4 pb-2">Adresse de livraison</h3>

            {% if user.shippingAddresses %}
              {% set addresses = user.shippingAddresses|sortByField('lastUsedAt')|reverse %}

              <div class="tab-content">
                <div class="tab-pane fade mb-3" id="tab-update-address" role="tabpanel">
                  {% for address in addresses %}
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" {% if loop.first %}checked{% endif %} id="selectedAddress-{{ address._id }}" value="{{ address._id }}" name="selectedAddress">
                      <label class="custom-control-label text-lg" for="selectedAddress-{{ address._id }}">
                        {{ address.firstName }} {{ address.lastName }},
                        {{ address.formattedAddress }}. {{ address.additionalInformation }}
                      </label>
                    </div>
                  {% endfor %}
                </div>
                
                {% set lastUsedAddress = addresses|first %}

                <div class="tab-pane fade show active" id="tab-select-address" role="tabpanel">
                  <input hidden id="selectedAddressId" name="selectedAddressId" value="{{ lastUsedAddress._id }}"> 
                  <ul class="list-icon">
                    <li class="text-lg mb-1"><i class="fe-icon-user text-muted"></i> <span id="selectedName">{{ lastUsedAddress.firstName }} {{ lastUsedAddress.lastName }}</span></li>
                    <li class="text-lg mb-1"><i class="fe-icon-phone text-muted"></i> <span id="selectedPhoneNumber">{{ lastUsedAddress.phoneNumber }}</span></li>
                    <li class="text-lg mb-1"><span id="selectedCompanyName">{% if lastUsedAddress.companyName %}{{ lastUsedAddress.companyName }}{% endif %}</span></li>
                    <li class="text-lg mb-1"><i class="fe-icon-map-pin text-muted"></i> <span id="selectedFormattedAddress">{{ lastUsedAddress.formattedAddress }}</span></li>
                    <li class="text-lg mb-1"><span id="selectedAddInformation">{% if lastUsedAddress.additionalInformation %} {{ lastUsedAddress.additionalInformation }}{% endif %}</span></li>
                    <li class="text-lg mb-1"><span id="selectedInstruction">{% if lastUsedAddress.instruction %}{{ lastUsedAddress.instruction }}{% endif %}</span></li>
                  </ul>
                </div>
              </div>

              <ul class="nav nav-tabs justify-content-around" role="tablist">
                <li class="nav-item">
                  <a hidden class="btn btn-sm btn-secondary" id="button-select-address" href="#tab-select-address" data-toggle="tab" role="tab">
                    ENVOYER À CETTE ADRESSE
                  </a>
                </li>
                
                <li class="nav-item">
                  <button hidden class="btn btn-sm btn-secondary" id="button-add-address" data-toggle="modal" data-target="#add-new-address-modal">Ajouter une adresse</button>
                </li>

                  <li class="nav-item">
                    <a class="btn btn-sm btn-secondary" id="button-update-address" href="#tab-update-address" id="button-to-update-address" data-toggle="tab" role="tab">
                      MODIFIER L'ADRESSE
                    </a>
                  </li>
              </ul>

            {% else %}
              <div class="text-danger text-center text-lg font-weight-bolder mb-3">Veuillez saisir votre adresse de livraison</div>
              <div class="text-right">
                <button class="btn btn-sm btn-secondary" id="button-add-address" data-toggle="modal" data-target="#add-new-address-modal">Ajouter une adresse</button>
              </div>
            {% endif %}

            <h3 class="h6 pt-4 pb-2">Créneau de livraison</h3>
            <div class="input-group form-group">
              {% if deliveryWindows is empty %}
                <div class="text-primary text-md">La cuisine est fermée actuellement. On vous donne rendez-vous dès demain !</div> 
              {% else %}
                <select class="form-control" id="select-input" name="deliveryWindow" required>
                  {% for deliveryWindow in deliveryWindows %}
                    <option value={{ deliveryWindow.number }}>{{ deliveryWindow.beginDate|date("H:i") }} - {{ deliveryWindow.endDate|date("H:i") }}</option>
                  {% endfor %}
                </select>
              {% endif %} 
            </div>

            {% if user.jackpot and user.jackpot.credit %}
              <h3 class="h6 pt-4 pb-2">Mon avoir</h3>
                <span class="text-lg">Montant restant:</span> 
                <span class="font-weight-bolder text-lg">{{ user ? user.jackpot and user.jackpot.credit : user.jackpot.credit : 0 }} € </span> 
              <div class="input-group form-group mt-3">
                <span class="text-lg mr-2">Montant à utiliser:</span> <input type="number" class="form-control" name="credit"></input>
              </div>
              <span class="text-primary">Le montant total à payer sera mis à jour à la prochaine étape.</span>
            {% endif %}          
          </div>
        </form>
        
        {% include '../../../account/views/account/partial/add-new-address-modal.twig' %}

      </div>

      <div id="basket-summary" class="col-md-6 pb-5">
        <div class="wizard-body pt-2 pl-3 wizard">
          <h3 class="h5 pt-4 pb-2">Panier</h3>
          <div id="basket-body">
            {% if orders %}
              <div class="table-responsive">
                <table class="table table-borderless">
                  <tbody>
                    {% for order in orders %}
                      <tr>
                        <td style="width: 20%">
                          <div class="btn-basket-quantity" data-item-id="{{ order.id }}">
                            <a class="btn btn-basket-remove-quantity" href="#">
                              <i class="fe-icon-minus-circle lead text-secondary"></i>
                            </a>
                            <span class="basket-quantity">{{ order.quantity }}</span>
                            <a class="btn btn-basket-add-quantity" href="#">
                              <i class="fe-icon-plus-circle lead text-secondary"></i>
                            </a>
                          </div>
                        </td>

                        <td style="width: 60%">
                          <span class="text-lg font-weight-bolder">{{ order.title }}</span>

                          {% set itemTitles = [] %}
                          {% for item in order.items %}
                            {% set itemTitles = itemTitles|merge([item.title]) %}
                          {% endfor %}

                          <br>
                          
                          <span>{{ itemTitles|join(', ', ' et ') }}</span>
                        </td>

                        <td class="basket-amount" style="width: 15%">{{ order.amount }} €</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <hr></hr>
                <table class="table table-borderless" id="table-amount">
                  <tbody>
                    <tr>
                      <td style="width: 50%">
                        <span class="text-lg">Sous-total</span>
                      </td>

                      <td style="width: 35%"></td>

                      <td id="sub-total-basket-amount" style="width: 15%">{{ subTotalAmount }} €</td>
                    </tr>
                    
                    <tr>
                      <td style="width: 50%">
                        <span class="text-lg">Frais de livraison</span>
                      </td>

                      <td style="width: 35%"></td>

                      <td id="delivery-basket-amount" style="width: 15%">
                        {% if deliveryAmount == 0 %}
                          Offert
                        {% else %}
                          {{ deliveryAmount }} €
                        {% endif %}
                      </td>
                    </tr>

                    {% if discountRate and discountAmount %}
                      <tr>
                        <td style="width: 50%">
                          <span class="text-lg">Remise de {{ discountRate }}% </span>
                        </td>

                        <td style="width: 35%"></td>

                        <td id="discount-amount" style="width: 15%"> - {{ discountAmount }} €</td>
                      </tr>
                    {% endif %}
                  
                    <tr>
                      <td style="width: 50%">
                        <span class="font-weight-bolder text-xl">Total</span>
                      </td>

                      <td style="width: 35%"></td>
                      {% set discountAmountCalculated = discountRate and discountAmount ? discountAmount : 0 %}
                      
                      <td id="total-basket-amount" class="font-weight-bolder" style="width: 15%">{{ subTotalAmount + deliveryAmount - discountAmountCalculated }} €</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            {% else %}
              <div class="text-xl pb-3">Votre panier est vide</div>
            {% endif %}  
          </div>
        </div>
      </div>

    </div>

    <div class="wizard-footer text-right">
      {% if deliveryWindows is empty %}
        <a class="btn btn-secondary mt-3 mr-3" href="/">Retour à la page d'accueil</a>
      {% else %}
        <button class="btn btn-secondary" id="button-to-payment">CONTINUER VERS LE PAIEMENT <i class="fe-icon-chevron-right lead"></i></button>
      {% endif %}
    </div>

  </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{GCP_API_Key}}"></script>
<script>
$(document).ready(function(){

  // Handle adding new address
  // Todo: refactoring
  google.maps.event.addDomListener(window, 'load', function() {
    $('.add-new-address-modal').on('shown.bs.modal', function () {
      const addressElement = $(this).find('input[name="formattedAddress"]');
      const addressId = $(this).data('address-id');
      initializeAutocomplete(addressElement.attr("id"), addressId);
    });
  });

  function initializeAutocomplete(id, addressId) {
    var element = document.getElementById(id);
    if (element) {
      var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'], componentRestrictions: { country: "fr" } });
      google.maps.event.addListener(autocomplete, 'place_changed',    
        function(e) {
          onPlaceChanged.call(this,
          addressId
        );
      });
    }
  }

  function onPlaceChanged(addressId) {
    var place = this.getPlace();
    for (var i in place.address_components) {
      var component = place.address_components[i];
      for (var j in component.types) {
        const elementId = addressId ? component.types[j] + '-' + addressId : component.types[j];
        var type_element = document.getElementById(elementId);
        if (type_element) {
          type_element.value = component.long_name;
        }
      }
    }
  }

  const form = document.getElementById('form-update-address');
  form.addEventListener('submit', function(ev) {
    ev.preventDefault();

    const data = {
      'id': $(this).find('input[name="id"]').val(),
      'formattedAddress': $(this).find('input[name="formattedAddress"]').val(),
      'streetNumber': $(this).find('input[name="street_number"]').val(),
      'route': $(this).find('input[name="route"]').val(),
      'locality': $(this).find('input[name="locality"]').val(),
      'administrativeArea': $(this).find('input[name="administrative_area_level_1"]').val(),
      'postalCode': $(this).find('input[name="postal_code"]').val(),
      'country': $(this).find('input[name="country"]').val(),
      'additionalInformation': $(this).find('input[name="additionalInformation"]').val(),
      'companyName': $(this).find('input[name="companyName"]').val(),
      'firstName': $(this).find('input[name="firstName"]').val(),
      'lastName': $(this).find('input[name="lastName"]').val(),
      'phoneNumber': $(this).find('input[name="phoneNumber"]').val(),
      'instruction': $(this).find('input[name="instruction"]').val(),
      'alias': $(this).find('input[name="alias"]').val(),
    };

    $.ajax({
      type: 'post',
      url: '/account/addresses/update',
      data: data,
      dataType: 'json'
    })
    .done(function(data) {
      if (data.error) {
        let errorMessages = '';
        data.error.messages.forEach(function(message){
          errorMessages += '<li>' + message.msg + '</li>';
        });
        $(this).find('#errorMessages').html(errorMessages);
      } else {
        //$('#toast-address-update').trigger('click');
        $(".add-new-address-modal").modal('hide');
        document.location.reload(true);
      }
    });
  });

  // Handle select address
  $('#button-to-payment').on('click', function (e) {
    $('#form-delivery').submit();
  });

  $('#button-add-address').on('click', function (e) {
    e.preventDefault(); // Useful to not validate form and pass to next step
  });

  $('#button-update-address').on('click', function (e) {
    $(this).attr("hidden", true);
    $('#button-select-address').attr("hidden", false);
    $('#button-add-address').attr("hidden", false);
  });

  $('#button-select-address').on('click', function (e) {
    $(this).attr("hidden", true);
    $('#button-add-address').attr("hidden", true);
    $('#button-update-address').attr("hidden", false);

    const inputSelectedAddressId = $('#form-delivery input[name="selectedAddress"]:checked').val();
   
     $.ajax({
      type: 'get',
      url: "/account/api/addresses/" + inputSelectedAddressId,
      dataType: 'json'
    })
    .done(function(data){

      $('#selectedAddressId').val(inputSelectedAddressId);
      $('#selectedName').text(data.firstName + ' ' + data.lastName);
      $('#selectedPhoneNumber').text(data.phoneNumber);
      $('#selectedCompanyName').text(data.companyName);
      $('#selectedFormattedAddress').text(data.formattedAddress);
      $('#selectedAddInformation').text(data.additionalInformation);
      $('#selectedInstruction').text(data.instruction);
      
    });

  });

  // Handle basket
  $(".btn-basket-add-quantity").on('click', function(e) {
    e.preventDefault();
    const tableTr = $(this).parents('tr');

    const numberQuantity = tableTr.find('.basket-quantity');
    const newNumberQuantity = parseInt(numberQuantity.text()) + 1;
    numberQuantity.text(newNumberQuantity);

    const btnQuantity = $(this).parent();
    
    const data = {
      itemId: btnQuantity.data('item-id'), 
      quantity: newNumberQuantity
    };

    const fieldAmount = tableTr.find('.basket-amount');

    const container = $(this).parents('#basket-summary');
    const subTotalAmount = container.find('#sub-total-basket-amount');
    const totalAmount = container.find('#total-basket-amount');
    const deliveryBasketAmount = container.find('#delivery-basket-amount');
    const discountAmount = container.find('#discount-amount');

    $.ajax({
      type: 'post',
      url: '/checkout/update-basket-quantity',
      data: data,
      dataType: 'json'
    })
    .done(function(data){
      const newAmount = data.newAmount + ' €'; 
      fieldAmount.text(newAmount);
      
      subTotalAmount.text(data.subTotalAmount + ' €');
      totalAmount.text(data.subTotalAmount + data.deliveryAmount - data.discountAmount + ' €');
      deliveryBasketAmount.text(data.deliveryAmount == 0 ? 'Offert' : data.deliveryAmount + ' €');
      discountAmount.text(- data.discountAmount + ' €');

      $('#basket-total-number').text(data.totalQuantity);
    });

  });

  $(".btn-basket-remove-quantity").on('click', function(e) {
    e.preventDefault();
    const tableTr = $(this).parents('tr');
    const numberQuantity = tableTr.find('.basket-quantity');
    const newNumberQuantity = parseInt(numberQuantity.text()) - 1;
    numberQuantity.text(newNumberQuantity);

    const btnQuantity = $(this).parent();
    
    const data = {
      itemId: btnQuantity.data('item-id'), 
      quantity: newNumberQuantity
    };

    const fieldAmount = tableTr.find('.basket-amount');

    const container = $(this).parents('#basket-summary');
    const subTotalAmount = container.find('#sub-total-basket-amount');
    const totalAmount = container.find('#total-basket-amount');
    const basketBody = container.find('#basket-body');
    const deliveryBasketAmount = container.find('#delivery-basket-amount');
    const discountAmount = container.find('#discount-amount');


    $.ajax({
      type: 'post',
      url: '/checkout/update-basket-quantity',
      data: data,
      dataType: 'json'
    })
    .done(function(data){
      const newAmount = data.newAmount + ' €'; 
      fieldAmount.text(newAmount);

      subTotalAmount.text(data.subTotalAmount + ' €');
      totalAmount.text(data.subTotalAmount + data.deliveryAmount - data.discountAmount + ' €');
      deliveryBasketAmount.text(data.deliveryAmount == 0 ? 'Offert' : data.deliveryAmount + ' €');
      discountAmount.text(- data.discountAmount + ' €');

      $('#basket-total-number').text(data.totalQuantity);
      
      if (newNumberQuantity < 1) {
        tableTr.remove(); 
      }

      if (data.totalQuantity < 1) {
        basketBody.html('<div class="text-xl pb-3">Votre panier est vide</div>');
      }

    });

  });
});
</script>
{% endblock %}