{% extends "views/front/layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mb-3 mt-30">

  <div class="wizard pb-3">
    <div class="wizard-body pt-2 text-center">
      <h3 class="h4 pb-3">Merci, nous avons bien reçu votre commande !</h3>
      <p class="mb-2">Vous serez informé par sms de l'acheminement de votre commande dont le numéro est <strong> {{ order._id }}.</p>
      <p class="mb-2">Vous pouvez retrouver les détails de la commande <a href="/account/orders/{{ order._id }}">ici</a>.</p>
      <p class="mb-2">Bon appétit !</p>
      <p><a class="btn btn-secondary mt-3 mr-3" href="/">Retour à la page d'accueil</a></p>
    </div>
  </div>

</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{% endblock %}