{% extends "views/front/layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="container mb-3 mt-30">
    <div class="row">
      <div class="col-md-6 pb-5">
        <div class="wizard-body pt-2 pl-3 pr-3 wizard">
          <h3 class="h5 pt-4 pb-2">Choisissez votre moyen de paiement</h3>

          <div class="accordion accordion-style-2" id="payment-method-accordion" role="tablist">

            <div class="card">
              <div class="card-header" role="tab">
                <h6><a class="pl-0 collapsed" href="#card" data-toggle="collapse"><i class="fe-icon-credit-card"></i>Carte bancaire</a></h6>
              </div>
              <div class="collapse" id="card" data-parent="#payment-method-accordion" role="tabpanel">

                <div id="cb-card-body" class="card-body px-0">

                  <div class="payment-spinner-container">
                    <span class="spinner-border text-success payment-spinner" role="status">
                    </span>
                  </div>

                  <iframe hidden class="paygreen-payment-frame" src=""></iframe>

                  <div class="mt-2 text-sm font-weight-bolder">
                    <i class="fe-icon-lock"></i>
                    Nous ne conservons pas vos détails de paiement, ces données sont traitées en sécurité auprès de notre partenaire de paiement en utilisant un cryptage de qualité bancaire.
                  </div>
                </div>

              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab">
                <h6><a class="pl-0 collapsed" href="#trd" data-toggle="collapse">Carte titre restaurant (apetiz, PASS RESTAURANT, Chèque Déjeuner)</a></h6>
              </div>
              <div class="collapse" id="trd" data-parent="#payment-method-accordion" role="tabpanel">

                <div id="trd-card-body" class="card-body px-0">

                  <div class="payment-spinner-container">
                    <span class="spinner-border text-success payment-spinner" role="status">
                    </span>
                  </div>

                  <iframe hidden class="paygreen-payment-frame" src=""></iframe>

                  <div class="mt-2 text-sm font-weight-bolder">
                    <i class="fe-icon-lock"></i>
                    Nous ne conservons pas vos détails de paiement, ces données sont traitées en sécurité auprès de notre partenaire de paiement en utilisant un cryptage de qualité bancaire.
                  </div>
                </div>

              </div>
            </div>

            <!--<div class="card">
              <div class="card-header" role="tab">
                <h6><a class="pl-0 collapsed" href="#restoflash" data-toggle="collapse">Titres restaurant (RestoFlash)</a></h6>
              </div>
              <div class="collapse" id="restoflash" data-parent="#payment-method-accordion" role="tabpanel">

                <div id="restoflash-card-body" class="card-body px-0">

                  <div class="payment-spinner-container">
                    <span class="spinner-border text-success payment-spinner" role="status">
                    </span>
                  </div>

                  <iframe hidden class="paygreen-payment-frame" src=""></iframe>

                </div>

              </div>
            </div>-->

            <div class="card">
              <div class="card-header" role="tab">
                <h6><a class="pl-0 collapsed" href="#lunchr" data-toggle="collapse">Carte titre restaurant (Swile ex-lunchr)</a></h6>
              </div>
              <div class="collapse" id="lunchr" data-parent="#payment-method-accordion" role="tabpanel">

                <div id="lunchr-card-body" class="card-body px-0">

                  <div class="payment-spinner-container">
                    <span class="spinner-border text-success payment-spinner" role="status">
                    </span>
                  </div>

                  <iframe hidden class="paygreen-payment-frame" src=""></iframe>

                </div>

              </div>
            </div>

            <!--<div class="card">
              <div class="card-header" role="tab">
                <h6><a class="collapsed pl-0" href="#swile-card" data-toggle="collapse"></i>Carte Ticket Restaurant (Swile ex-lunchr)</a></h6>
              </div>
              <div class="collapse" id="swile-card" data-parent="#payment-method-accordion" role="tabpanel">
                <div class="card-body px-0">
                <span class="text-primary">Vous paierez via un terminal de paiement.</span>
                  <div class="text-right mt-2">
                    <a class="btn btn-sm btn-secondary" href="/checkout/complete/order/{{order._id}}/SWILE_TPE">
                      Validez
                    </a>
                  </div>
                </div>
              </div>
            </div>-->

            <div class="card">
              <div class="card-header" role="tab">
                <h6><a class="collapsed pl-0" href="#edenred-card" data-toggle="collapse"></i>Carte titre restaurant (Edenred)</a></h6>
              </div>
              <div class="collapse" id="edenred-card" data-parent="#payment-method-accordion" role="tabpanel">
                <div class="card-body px-0">
                <span class="text-primary">Vous paierez via un terminal de paiement. Actuellement, nous acceptons uniquement les 
                cartes de 2ème génération (logo CONECS en bas à droite), si ce n'est pas le cas pour votre carte veuillez choisir un autre moyen de paiement s'il vous plaît.</span>
                  <div class="text-right mt-2">
                    <a class="btn btn-sm btn-secondary" href="/checkout/complete/order/{{order._id}}/EDENRED_TPE">
                      Validez
                    </a>
                  </div>
                </div>
              </div>
            </div>
        
            <div class="card">
              <div class="card-header" role="tab">
                <h6><a class="collapsed pl-0" href="#cash" data-toggle="collapse"><i class="fe-icon-dollar-sign"></i>Espèces</a></h6>
              </div>
              <div class="collapse" id="cash" data-parent="#payment-method-accordion" role="tabpanel">
                <div class="card-body px-0">
                <span class="text-primary">Veuillez préparer l'appoint pour simplifier la transaction s'il vous plaît.</span>
                  <div class="text-right mt-2">
                    <a class="btn btn-sm btn-secondary" href="/checkout/complete/order/{{order._id}}/CASH">
                      Validez
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab">
                <h6><a class="collapsed pl-0" href="#titre-restaurant-papier" data-toggle="collapse">Titres restaurant papier</a></h6>
              </div>
              <div class="collapse" id="titre-restaurant-papier" data-parent="#payment-method-accordion" role="tabpanel">
                <div class="card-body px-0">
                  <span class="text-primary">Si vous avez droit à un avoir durant la transaction de paiement, il sera disponible dans votre espace client.</span>
                  <div class="text-right mt-2">
                    <a class="btn btn-sm btn-secondary text-right" href="/checkout/complete/order/{{order._id}}/TRP">
                      Validez
                    </a>
                  </div>
                </div>
              </div>
            </div>
        
          </div>
          
        </div>

        <div class="wizard-body pt-2 pl-3 pr-3 wizard">
          <h3 class="h5 pt-4 pb-2">Code promo</h3>
          <form>
            <input class="form-control mb-3 mr-sm-4" type="text" placeholder="Entrer un coupon ici" id="coupon-code" name="coupon-code" required>
            <div class="text-right"><button class="btn btn-secondary mb-3" type="submit" id="coupon-code-button">Confirmer</button></div>
          </form>
        </div>

      </div>

      <div class="col-md-6 pb-5">
        <div class="wizard-body pt-2 wizard">
          <h3 class="h5 pt-4 pb-2 pl-3">Récapitulatif de la commande</h3>
          <div id="summary-order">
            {% if order %}
              {% include './partial/summary-order.twig' with order %}
            {% else %}
              <div class="text-xl">Votre panier est vide</div>
            {% endif %}  
          </div>
        </div>
      </div>

    </div>

  <button hidden id="toast-coupon-apply" data-toast data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="Succès!" data-toast-message="Le code promotionnel est valide"/>
  <button hidden id="toast-coupon-invalid" data-toast data-toast-position="topRight" data-toast-type="danger" data-toast-icon="fe-icon-slash" data-toast-title="Erreur!" data-toast-message=""/>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
  // Handle accordion

  const discountAmountCalculated = {{ order.discountAmount }} ? {{ order.discountAmount }} : 0;

  const totalAmount = ({{ order.subTotalAmount }} + {{ order.deliveryAmount }} - discountAmountCalculated) * 100;
  const orderId = "{{ order._id }}";
  
  $('#card').on('show.bs.collapse', function () {
    
    const spinner = $(this).find('.payment-spinner-container');
    const iframe = $(this).find('iframe');
    if (iframe.attr('src') !== '') {
      return;
    }

    const data = {
      orderId: orderId, 
      totalAmount: totalAmount.toFixed(2), 
      paymentMethod: 'CB'
    };

    processPaygreenPayment(data, iframe, spinner);

  });

  $('#trd').on('show.bs.collapse', function () {
    
    const spinner = $(this).find('.payment-spinner-container');
    const iframe = $(this).find('iframe');
    if (iframe.attr('src') !== '') {
      return;
    }

    const data = {
      orderId: orderId, 
      totalAmount: totalAmount.toFixed(2),
      paymentMethod: 'TRD'
    };

    processPaygreenPayment(data, iframe, spinner);

  });

  $('#restoflash').on('show.bs.collapse', function () {
    
    const spinner = $(this).find('.payment-spinner-container');
    const iframe = $(this).find('iframe');
    if (iframe.attr('src') !== '') {
      return;
    }

    const data = {
      orderId: orderId, 
      totalAmount: totalAmount.toFixed(2),
      paymentMethod: 'RESTOFLASH'
    };

    processPaygreenPayment(data, iframe, spinner);

  });

  $('#lunchr').on('show.bs.collapse', function () {
    
    const spinner = $(this).find('.payment-spinner-container');
    const iframe = $(this).find('iframe');
    if (iframe.attr('src') !== '') {
      return;
    }

    const data = {
      orderId: orderId, 
      totalAmount: totalAmount.toFixed(2),
      paymentMethod: 'LUNCHR'
    };

    processPaygreenPayment(data, iframe, spinner);

  });

  const processPaygreenPayment = (data, iframe, spinner) => {
    $.ajax({
      url: '/checkout/payment/order/init',
      type: 'POST',
      data: data,
      success: function(response) {
        console.log(response);
        // Todo: improve error message
        if (response.error) {
          alert('Une erreur est survenue lors du paiement');
          return;
        };

        iframe.attr('src', response.data.url + '?display=insite');
        iframe.attr("hidden", false);
        spinner.attr("hidden", true);
      },
      error: function(xhr, status, error) {
        alert('Une erreur est survenue lors du paiement');
        return;
      }
    });
  }

  $('#cash-voucher').on('show.bs.collapse', function () {
    //alert('cash-voucher');
  });

  $('#coupon-code-button').on('click', (e) => {
    e.preventDefault();
    if (!$('#coupon-code').val()) {
      return;
    }

    const data = {
      couponCode: $('#coupon-code').val(),
      orderId: orderId,
    };

    $.ajax({
      url: '/checkout/payment/order/coupon-code/check',
      type: 'POST',
      data: data,
      success: function(response) {
        if (response.status == 'succeeded') {
          $('#toast-coupon-apply').trigger('click');
          setTimeout(() => {
            document.location.reload(true)
          }, 1500);
        } else {
          $('#toast-coupon-invalid').data('toast-message', response.error.messages);
          $('#toast-coupon-invalid').trigger('click');
          console.log(response.error.messages);
        }
      },
      error: function(xhr, status, error) {

      }
    });
  });
  
});
</script>
{% endblock %}