{% extends "views/backoffice/layout.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block head_link %}
<link href="/backoffice/assets/css/pages/wizards/wizard-v3.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

  <!-- begin:: Content Head -->
  <div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container kt-container--fluid ">
      <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">Ajout d'une offre à la categorie {{ menuItemCategory.category.title }} du menu du {{ menuItem.availableAt|date("d F Y") }}</h3>
      </div>
      <div class="kt-subheader__toolbar">
        <a href="/admin/menus/items/{{ menuItem._id }}/categories/edit/{{ menuItemCategory._id }}" class="btn btn-brand btn-bold">Retour à la categorie</a>
      </div>
    </div>
  </div>

  <!-- end:: Content Head -->

  <!-- begin:: Content -->
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet">
      <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="kt-wizard-v3" id="kt_wizard_v3">
          <!--begin:Form-->
          <form class="kt-form" id="add-menu-items-category-offer-form">

            <input type="hidden" value="{{menuItem._id}}" id="menuItemId">
            <input type="hidden" value="{{menuItemCategory._id}}" id="menuItemCategoryId">
            {% if menuCategoryItem %}
              <input type="hidden" value="{{menuCategoryItem.item._id}}" id="menuCategoryItemId">
            {% endif %}

            <div class="kt-wizard-v3__content">
              <div class="kt-separator kt-separator--height-xs"></div>
              <div class="kt-form__section kt-form__section--first">
                <div class="form-group">
                  <div class="form-group">
                    <label for="category">Type</label>
                    <select class="form-control" id="type" name="type" {% if menuCategoryItem %}disabled{% endif %}>
                      <option value="SIMPLE" {% if menuCategoryItem.item.type == "SIMPLE" %}selected{% endif %}>Simple</option>
                      <option value="COMBINED" {% if menuCategoryItem.item.type == "COMBINED" %}selected{% endif %}>Combiné</option>
                    </select>
                  </div>

                  <div class="form-group" id="group-dish">
                    <label for="dish">Recette</label>
                    <select class="form-control" name="dish">
                      {% if menuCategoryItem %}
                        {% set dishId = menuCategoryItem.item.meals[0].dishes[0].dish %}
                      {% endif %}
              
                      {% for dish in dishes %}
                        <option {% if dishId|trim == dish._id %}selected{% endif %} value="{{ dish._id }}">{{ dish.title }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label>Titre:</label>
                  <input type="text" class="form-control" name="title" {% if menuCategoryItem %}value="{{ menuCategoryItem.item.title }}"{% endif %}>
                </div>
  
                <div class="form-group">
                  <label>Description:</label>
                  <input type="text" class="form-control" name="description" {% if menuCategoryItem %}value="{{ menuCategoryItem.item.description }}"{% endif %}>
                </div>

                <div class="form-group">
                  <label>Prix:</label>
                  <input type="text" class="form-control" name="price" {% if menuCategoryItem %}value="{{ menuCategoryItem.item.price }}"{% endif %} >
                </div>
    
              </div>
            </div>

            <!--begin:Form Actions -->
            <div class="kt-form__actions">
              <a class="btn btn-secondary" href="/admin/menus/items/{{ menuItem._id }}/categories/edit/{{ menuItemCategory._id }}">Annuler</a>
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>

            <!--end:Form Actions -->
          </form>

          <!--end:Form-->
        </div>
      </div>
    </div>  
    
  </div>

  <!-- end:: Content -->
</div>
{% endblock %}

{% block script %}
<script>
jQuery(document).ready(function() {
  const menuCategoryItemId = "{{ menuCategoryItem._id }}";

  const menuCategoryItemJsElm = document.createElement("script");
  menuCategoryItemJsElm.type = "application/javascript";
  if (menuCategoryItemId) {
    menuCategoryItemJsElm.src = "/backoffice/assets/js/pages/custom/menus/items/category/edit-offer.js";
    document.body.appendChild(menuCategoryItemJsElm);
  } else {
    menuCategoryItemJsElm.src = "/backoffice/assets/js/pages/custom/menus/items/category/add-offer.js";
    document.body.appendChild(menuCategoryItemJsElm);
  }

});
</script>
{% endblock %}