{% extends "views/front/layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <section class="bg-parallax">
    <!--<div class="bg-parallax-img" data-parallax="{&quot;y&quot; : 100}"><img src="/img/panorama.jpeg" alt="Service"></div>-->
    <div class="container bg-parallax-content pt-5 pb-5">
      <h1 class="h3 block-title text-center">À propos de nous</h1>
      <div class="row justify-content-center pt-2">
        <div class="col-xl-8 col-lg-9 col-md-10">
          <p class="text-center text-lg">Méconnue, mal connue, aujourd’hui la cuisine africaine n’a pas la place qu’elle mérite dans le concert mondial les cuisines.</p>
          <p class="text-center text-lg">Nous, fondateurs de NIOMI, l’avons connue depuis notre enfance, dans toute sa convivialité, sa richesse et sa diversité.</p>
          <p class="text-center text-lg">L’art culinaire africain est l’un des plus anciens au monde. Il a été développé depuis les temps ancestraux en toute sincérité et à l’abri de toute influence capitalistique pour satisfaire avec soin et efficacité le besoin de s’alimenter des êtres humains, mais aussi celui de se retrouver ensemble et de partager dans le plaisir. Par conséquent, la cuisine africaine possède aujourd’hui et de manière intrinsèque toutes les capacités pour répondre aux enjeux alimentaires de notre temps.</p>
          <p class="text-center text-lg">NIOMI vous accompagne dans la découverte d’une gastronomie africaine ouverte et authentique.</p>
          
          <div class="mt-5">
            <h1 class="h5 block-title text-center">Découvrez notre laboratoire culinaire</h1>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/459978204?color=ac32e4&amp;title=0&amp;byline=0&amp;portrait=0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}