{% extends "views/front/layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <section class="position-relative bg-center bg-norepeat bg-cover pt-sm-5 pb-5" style="background-image: url(img/panorama.jpeg);">
    <div class="bg-overlay bg-gradient"></div>
    <div class="container bg-parallax-content py-5 mb-4 text-center">
      <h1 class="h4 pt-4">Des mets africains sains et faits maison, livrés chez vous</h1>
    </div>
  </section>

  <section class="container">
    <h2 class="h5 block-title text-center mt-3 mb-4 text-primary">EN RAISON DES CONSÉQUENCES DE LA CRISE SANITAIRE, NOUS SOMMES ACTUELLEMENT FERMÉS ! <br> RÉ-OUVERTURE PRÉVUE EN MAI 2021 !</h2>
    <div class="row">
      <div class="col-md-6 text-center mb-3 mt-3">
        <span class="font-weight-bold text-lg text-primary">Horaires d'ouverture:</span> <strong>Lundi au Vendredi de 11h à 13h30</strong><br>
        <span class="font-weight-bold text-lg text-primary">Contact:</span> <a class="navbar-link mr-3" href="tel:0755480116"><i class="fe-icon-phone"></i><span class="text-md font-weight-bold">07 55 48 01 16</span></a><br>
        <span class="font-weight-bold text-lg text-primary">Zones de livraison:</span> <strong>Saint-Denis, Aubervilliers, La Courneuve, Saint-Ouen</strong>
      </div>
      <div class="col-md-6 text-center mb-3 mt-3">
        <strong>Livraison en </strong><span class="font-weight-bold text-lg text-primary">moins de 20 mn</span><br>
        <span class="font-weight-bold text-lg text-primary">Moyens de paiement:</span>
        <ul class="list-unstyled">
          <li><strong>Carte bancaire</strong></li>
          <li><strong>Carte titres restaurant : Apetiz, PASS RESTAURANT, Chèque déjeuner, Swile, Edenred</strong></li>
          <li><strong>Titres restaurant papier</strong></li>
        </ul> 
      </div>

    </div>
    {% if menuItem %}
      <nav class="navbar sticky-top" id="navbar-menu">
        <ul class="nav nav-pills nav-pills-style-2">
          {% for item in menuItem.items|sortByField('order') %}
            <li class="nav-item"><a class="nav-link {{ loop.first ? 'active' : '' }}" href="#{{ item.category.id }}">{{ item.category.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>

      {% for item in menuItem.items|sortByField('order') %}
        <div id="{{ item.category.id }}" class="mb-30" data-spy="scroll" data-target="#navbar-menu">
          <h5 class="block-title mb-30 text-uppercase">{{ item.category.title }}</h5> 
            <ul class="menu-index-page mb-5">
              {% for menuCategoryItem in item.menuCategoryItems %}
                <li class="card" data-toggle="modal" data-target="#basket-modal-{{ menuCategoryItem.item.id }}">
                  <div class="card-body">
                    {% if menuCategoryItem.item.photo %}
                      <img src="{{ menuCategoryItem.item.photo }}" alt="{{ menuCategoryItem.item.title }}">
                    {% elseif menuCategoryItem.item.type == 'SIMPLE' and menuCategoryItem.item.meals.0.dishes.0.dish.photo %}
                      <img src="{{ menuCategoryItem.item.meals.0.dishes.0.dish.photo }}" alt="{{ menuCategoryItem.item.meals.0.dishes.0.dish.title }}">
                    {% endif %}

                    {% if menuCategoryItem.item.title %}
                      <h4 class="card-title mt-3">{{ menuCategoryItem.item.title }}</h4>
                    {% elseif menuCategoryItem.item.type == 'SIMPLE' and menuCategoryItem.item.meals.0.dishes.0.dish.title %}
                      <h4 class="card-title mt-3">{{ menuCategoryItem.item.meals.0.dishes.0.dish.title }}</h4>
                    {% endif %}

                    {% if menuCategoryItem.item.description %}
                      <p class="card-text">{{ menuCategoryItem.item.description }}</p>
                    {% elseif menuCategoryItem.item.type == 'SIMPLE' and menuCategoryItem.item.meals.0.dishes.0.dish.description %}
                      <p class="card-text">{{ menuCategoryItem.item.meals.0.dishes.0.dish.description }}</p>
                    {% endif %}
            
                    <div class="card-text pt-0 font-weight-bold ft-16">{{ menuCategoryItem.item.price }} €</div>
                  </div>
                </li>
                {% if menuCategoryItem.item.type == 'SIMPLE' %}
                  {% include './partial/add-to-basket-modal-simple.twig' with menuCategoryItem.item %}
                {% else %}
                  {% include './partial/add-to-basket-modal-combined.twig' with menuCategoryItem.item %}
                {% endfor %}
              {% endfor %}
            </ul>
        </div>
      {% endfor %}
    {% endif %}
      <button hidden id="confirmation-add-cart-toast" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-message="ajoutée au panier" data-toast data-toast-position="topRight" data-toast-title="Commande"></button>
      <!-- <button hidden id="confirmation-add-cart-toast" data-toast-type="primary" data-toast-icon="fe-icon-shopping-cart" data-toast-message="<strong>Commande ajoutée !</strong><br><a href='/checkout' class='btn btn-secondary btn-sm mt-2' role='button' aria-pressed='true'>Valider mon panier</a>" data-toast data-toast-position="topRight" data-toast-title=" "></button> -->
  </section>


{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    // add onclick to calculate price
    // Add buton to add
    $(".btn-add-quantity").on('click', function(e) {
      e.preventDefault();
      const numberQuantity = $(this).prev();
      const newNumberQuantity = parseFloat(numberQuantity.text()) + 1;
      numberQuantity.text(newNumberQuantity);

      let additionalPrice = 0;
      const inputChecked = $('.custom-control input:checked');
      inputChecked.each(function(index) {
        additionalPrice = additionalPrice + parseFloat($(this).data('additional-price'));
      });

      const btnQuantity = $(this).parent();
      const data = {
        menuCategoryItemId: btnQuantity.data('menu-category-item-id'), 
        quantity: newNumberQuantity,
        additionalPrice: additionalPrice
      };

      const modal = $(this).parents('.modal');
      const modalPrice = modal.find('.modal-price');

      $.ajax({
        type: 'post',
        url: '/cart/addMenuQuantity',
        data: data,
        dataType: 'json'
      })
      .done(function(data){
        const newPrice = data.price + ' €'; 
        modalPrice.text(newPrice);
      });

    });

    $(".custom-control-input").on('click', function(e) {
      const modal = $(this).parents('.modal');
      const inputChecked =  modal.find('.custom-control input:checked');
    
      let additionalPrice = 0;
      inputChecked.each(function(index) {
        additionalPrice = additionalPrice + parseFloat($(this).data('additional-price'));
      });

      const modalPrice = modal.find('.modal-price');
      const basePrice = modal.find('.base-price');
      const numberQuantity = modal.find('.number-quantity');

      const newPrice = (parseFloat(basePrice.data('price')) + parseFloat(additionalPrice)) * parseFloat(numberQuantity.text()); 

      const newPriceText = newPrice + ' €'; 
    
      modalPrice.text(newPriceText);

      $(this).trigger('input');

    });

    $(".btn-remove-quantity").on('click', function(e) {
      e.preventDefault();
      const numberQuantity = $(this).next();
      let newNumberQuantity = parseFloat(numberQuantity.text()) - 1;
      newNumberQuantity = newNumberQuantity < 1 ? 1 : newNumberQuantity
      numberQuantity.text(newNumberQuantity);

      let additionalPrice = 0;
      const inputChecked = $('.custom-control input:checked');
      inputChecked.each(function(index) {
          additionalPrice += parseFloat($(this).data('additional-price'));
      });

      const btnQuantity = $(this).parent();
      const data = {
        menuCategoryItemId: btnQuantity.data('menu-category-item-id'), 
        quantity: newNumberQuantity,
        additionalPrice: additionalPrice
      };

      const modal = $(this).parents('.modal');
      const modalPrice = modal.find('.modal-price');

      $.ajax({
        type: 'post',
        url: '/cart/addMenuQuantity',
        data: data,
        dataType: 'json'
      })
      .done(function(data){
        const newPrice = data.price + ' €'; 
        modalPrice.text(newPrice);
      });

    });

    var validator = $(".btn-add-to-cart").on('click', function(e) {
      e.preventDefault();

      const modal = $(this).parents('.modal');

      const form = modal.find('.form');
      const formId = '#' + form.attr('id');

      $(formId).validate({
        errorElement: "div",
        errorPlacement: function(error, element) {
          error.addClass("invalid-feedback text-lg mb-2");
          error.insertBefore(element);
        },
        submitHandler: function(form) {

          const menuCategoryItemId = modal.data('item-id');
          
          const numberQuantity = modal.find('.number-quantity');
          const numberQuantityValue = numberQuantity.text();

          const modalPrice = modal.find('.modal-price');
          const modalPriceSplited = modalPrice.text().split('€');
          const amount = (modalPriceSplited[0]).trim();

          const inputChecked = modal.find('.custom-control input:checked');

          let items = [];
          
          inputChecked.each(function(index) {
            const itemId = $(this).data('dish-id');
            const itemAdditionalPrice = $(this).data('additional-price');

            items.push(itemId);
          });

          const data = {
            menuCategoryItemId: menuCategoryItemId, 
            quantity: numberQuantityValue,
            amount: amount,
            items: items
          };
          
          $.ajax({
            type: 'post',
            url: '/cart/addToCart',
            data: data,
            dataType: 'json'
          })
          .done(function(data) {
            modal.modal('hide');

            const total = data.reduce(function(total, item) {
              return parseFloat(total) + parseFloat(item.quantity);
            },0);

            $('#basket-total-number').text(total);

            $('#confirmation-add-cart-toast').trigger('click');
          });
        }
      });

      form.submit();
      
    });

    // Add scrollspy to <body>
    $('body').scrollspy({target: ".navbar", offset: 50});   

    // Add smooth scrolling on all links inside the navbar
    $("#navbar-menu a").on('click', function(event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function(){
    
          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      }  // End if
    });
  });
</script>
{% endblock %}