{% extends "views/front/layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container pb-5 mb-3 mt-4">
      <!-- Buy Online-->
      <div class="d-md-table w-100 p-4 p-lg-5 mb-30 box-shadow">
        <div class="d-md-table-cell align-middle pl-md-4 pl-lg-5 text-center text-md-left">
          <h3 class="h4">Alimentation saine et curative</h3>
          <p class="text-lg"><strong>Nous sommes convaincus que la richesse de l'art culinaire africain peut répondre aux enjeux alimentaires de notre temps </strong>: problèmes de santé (maladie cardiaque, pulmonaire et cérébrale, cancer, hypertension),  malnutrition, restrictions alimentaires, choix éthiques de consommation (véganisme, végétarisme, sans gluten) et il est invraisemblable que nous en soyons privés.</p>
          <p class="text-lg">Avec Niomi, vous aurez accès à des produits bénéfiques pour la santé: plantes, céréales, noix, graines et légumes avec leurs vertus nutritionnelles et curatives.<p/>
        </div>
      </div>
      <!-- Delivery Worldwide-->
      <div class="d-md-table w-100 p-4 p-lg-5 mb-30 box-shadow">
        <div class="d-md-table-cell align-middle pl-md-4 pl-lg-5 text-center text-md-left">
          <h3 class="h4">Cuisine diverse et variée</h3>
          <p class="text-lg"><strong>Si la cuisine africaine a de telles vertus, c'est que, contrairement à ce que l’on peut penser, elle est très diverse.</strong> En effet, l’Afrique regroupe 54 pays, chaque pays ayant plusieurs ethnies qui souvent, ont des cultures très différentes les unes des autres. Ce sont les “cuisines d’Afrique”, qui méritent d'être connus rien que pour le plaisir de nos papilles.</p>
          <p class="text-lg">Nous vous garantissons des voyages culinaires authentiques.</p>
        </div>
      </div>
      <!-- Mobile App-->
      <div class="d-md-table w-100 p-4 p-lg-5 mb-30 box-shadow">
        <div class="d-md-table-cell align-middle pl-md-4 pl-lg-5 text-center text-md-left">
          <h3 class="h4">Démarche éco-responsable</h3>
          <p class="text-lg"><strong>L'art culinaire africain a toujours gardé un lien étroit avec la terre qui produit nos aliments. Nous utilisons uniquement des conditionnements éco-responsables : recyclables et/ou biodégradables. Ces derniers sont acheminés vers nos clients par des coursiers à vélo.</strong><p>
          <p class="text-lg">Une démarche 100% écolo pour préserver l’environnement et les femmes et hommes qui vivent dedans.</p>
          </p>
        </div>
      </div>
    </div>
{% endblock %}