{% extends "views/front/layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container pb-5 mb-3 mt-4">
  <h1 class="h5 block-title text-center">POLITIQUE DE CONFIDENTIALITÉ DES DONNÉES À CARACTÈRE PERSONNEL ET COOKIES</h1>
  <div class="row justify-content-center pt-2">
    <div class="col-xl-8 col-lg-9 col-md-12">
      <h6>Introduction</h6>
      Dans le cadre de son activité, la SAS Ngnomi (ci-après, «Ngnomi»), dont le siège social est situé au 11 rue de Lourmel 75015 Paris - France, est amenée à collecter et à traiter des informations dont certaines sont qualifiées de "données personnelles". Ngnomi attache une grande importance au respect de la vie privée, et n’utilise que des données de manière responsable et confidentielle et dans une finalité précise.
      <h6 class="mt-2">Données personnelles</h6>
      Sur le site web https://www.niomi.fr/, il y a 2 types de données susceptibles d’être recueillies :
      <div class="font-weight-bolder"> _ Les données transmises directement</div>
      Ces données sont celles que vous nous transmettez directement, via des formulaires (inscription, renseignement d’adresse, contact) ou bien par contact direct par email. Sont obligatoires dans ces formulaire de contact le champs « prénom et nom », « téléphone », « adresse » et « email ».
      <div class="font-weight-bolder"> - Les données collectées automatiquement</div>
      Lors de vos visites, une fois votre consentement donné, nous pouvons recueillir des informations de type « web analytics » relatives à votre navigation, la durée de votre consultation, votre adresse IP, votre type et version de navigateur. La technologie utilisée est le cookie.
      <h6 class="mt-2">Utilisation des données</h6>
      Les données que vous nous transmettez directement sont utilisées dans le but de vous re-contacter et/ou dans le cadre de la demande que vous nous faites. Les données « web analytics » sont collectées de forme anonyme (en enregistrant des adresses IP anonymes) par Google Analytics, et nous permettent de mesurer l'audience de notre site web, les consultations et les éventuelles erreurs afin d’améliorer constamment l’expérience des utilisateurs. Ces données sont utilisées par Ngnomi, responsable du traitement des données, et ne seront jamais cédées à un tiers ni utilisées à d’autres fins que celles détaillées ci-dessus.
      <h6 class="mt-2">Base légale</h6>
      Les données personnelles ne sont collectées qu’après consentement obligatoire de l’utilisateur. Ce consentement est valablement recueilli (boutons et cases à cocher), libre, clair et sans équivoque.
      <h6 class="mt-2">Durée de conservation</h6>
      Les données seront sauvegardées durant une durée maximale de 3 ans.
      <h6 class="mt-2">Cookies</h6>
      Voici la liste des cookies utilisées et leur objectif :
      <div>Cookies Google Analytics : Web analytics</div>
      <div>Accept-cookie : Permet de garder en mémoire le fait que vous acceptez les cookies afin de ne plus vous importuner lors de votre prochaine visite.</div>
      <h6 class="mt-2">Vos droits concernant les données personnelles</h6>
      Vous avez le droit de consultation, demande de modification ou d’effacement sur l’ensemble de vos données personnelles. Vous pouvez également retirer votre consentement au traitement de vos données.
      <h6 class="mt-2">Contact délégué à la protection des données</h6>
      <div>Par email : privacy@niomi.fr</div>
      <div>Par courier : Ngnomi, 11 rue de Lourmel 75015 Paris</div>
    </div>
  </div>
</div>
{% endblock %}