{% extends "views/backoffice/layout.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block head_link %}
<link href="/backoffice/assets/css/pages/wizards/wizard-v3.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

  <!-- begin:: Content Head -->
  <div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container kt-container--fluid ">
      <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">{{ title }}</h3>
      </div>
      <div class="kt-subheader__toolbar">
        <a href="/admin/menus/items/list" class="btn btn-brand btn-bold">Liste des menus</a>
      </div>
    </div>
  </div>

  <!-- end:: Content Head -->

  <!-- begin:: Content -->
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet">
      <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="kt-wizard-v3" id="kt_wizard_v3">

          <!--begin:Form-->
          <form class="kt-form" id="kt_form">

            <div class="kt-wizard-v3__content">
              <div class="kt-separator kt-separator--height-xs"></div>
              <div class="kt-form__section kt-form__section--first">
                {% if menuItem %}<input type="hidden" value="{{menuItem._id}}" id="menuItemId">{% endif %}

                <div class="form-group">
                  <label>Date:</label>
                  <input class="form-control" type="date" {% if menuItem %}value="{{ menuItem.availableAt|date("Y-m-d") }}"{% else %}value="{{ "now"|date("Y-m-d") }}"{% endif %} id="availableAt" name="availableAt">
                </div>

              </div>
            </div>

            <!--begin:Form Actions -->
            <div class="kt-form__actions">
              <a class="btn btn-secondary" href="/admin/menus/items/list">Annuler</a>
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>

            <!--end:Form Actions -->
          </form>

          <!--end:Form-->
        </div>
      </div>
    </div>
  </div>

  <!-- end:: Content -->
</div>
{% endblock %}

{% block script %}
<script>
jQuery(document).ready(function() {
  const menuItemId = "{{ menuItem._id }}";
  const menuItemJsElm = document.createElement("script");
  menuItemJsElm.type = "application/javascript";
  if (menuItemId) {
    menuItemJsElm.src = "/backoffice/assets/js/pages/custom/menus/items/edit.js";
    document.body.appendChild(menuItemJsElm);
  } else {
    menuItemJsElm.src = "/backoffice/assets/js/pages/custom/menus/items/add.js";
    document.body.appendChild(menuItemJsElm);
  }

});
</script>
{% endblock %}