{% extends "views/backoffice/layout.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block head_link %}
<link href="/backoffice/assets/css/pages/wizards/wizard-v3.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

  <!-- begin:: Content Head -->
  <div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container kt-container--fluid ">
      <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">{{ title }} {{ menuItem.availableAt|date("d F Y") }}</h3>
      </div>
      <div class="kt-subheader__toolbar">
        <a href="/admin/menus/items/list" class="btn btn-brand btn-bold">Liste des menus</a>
        <a href="#" class="btn btn-brand btn-sm btn-upper btn-bold">Supprimer</a>
        <a href="#" class="btn btn-brand btn-sm btn-upper btn-bold">Duliquer</a>
      </div>
    </div>
  </div>

  <!-- end:: Content Head -->

  <!-- begin:: Content -->
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="col-lg-12 col-xl-8 order-lg-1 order-xl-1">

      <!--begin::Portlet-->
      <div class="kt-portlet kt-portlet--height-fluid kt-widget-17">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Catégories du menu</h3>
          </div>
          <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper kt-form">
              <button type="button" class="btn btn-outline-brand" data-toggle="modal" data-target="#add-category-modal">
                Ajouter une catégorie
              </button>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body">
          <div class="kt-widget-17">
            {% for itemsMenuItem in menuItem.items|sortByField('order') %}
              <div class="kt-widget-17__item">
                <div class="kt-widget-17__product">
                  <div class="kt-widget-17__product-desc">
                    <div class="kt-widget-17__title">
                      {{ itemsMenuItem.category.title }}
                    </div>
                  </div>
                  <div class="kt-widget-17__thumb">
                  </div>
                </div>
                <div class="kt-widget-17__prices">
                  <div class="kt-widget-17__sku mr-5">
                    {{ itemsMenuItem.order }}
                  </div>
                  <div class="dropdown">
                    <a href="javascript:;" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown">
                      <i class="flaticon-more-1"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <ul class="kt-nav">
                        <li class="kt-nav__item">
                          <a href="/admin/menus/items/{{ menuItem._id }}/categories/show/{{ itemsMenuItem._id }}" class="kt-nav__link">
                            <i class="kt-nav__link-icon flaticon2-expand"></i>
                            <span class="kt-nav__link-text">Voir</span>
                          </a>
                        </li>
                        <li class="kt-nav__item">
                          <a href="/admin/menus/items/{{ menuItem._id }}/categories/edit/{{ itemsMenuItem._id }}" class="kt-nav__link">
                            <i class="kt-nav__link-icon flaticon2-contract"></i>
                            <span class="kt-nav__link-text">Modifier</span>
                          </a>
                        </li>
                        <li class="kt-nav__item">
                          <a href="/admin/menus/items/{{ menuItem._id }}/categories/delete/{{ itemsMenuItem._id }}" class="kt-nav__link">
                            <i class="kt-nav__link-icon flaticon2-trash"></i>
                            <span class="kt-nav__link-text">Supprimer</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <!--end::Portlet-->
    </div>

    <!-- Modal -->
    <div class="modal fade" id="add-category-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ajouter une catégorie</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <form class="kt-form" id="add-category-form">
            <div class="modal-body">
              <div class="kt-portlet__body">
              {% if menuItem %}<input type="hidden" value="{{menuItem._id}}" id="menuItemId">{% endif %}
                <div class="form-group">
                  <label for="category">Catégorie</label>
                  <select class="form-control" id="category" name="category">
                    {% for menuCategory in menuCategories %}
                      <option value="{{menuCategory._id}}">{{ menuCategory.title }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label>Ordre:</label>
                  <input type="number" class="form-control" id="order" name="order">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-brand" data-dismiss="modal">Fermer</button>
              <button type="submit" class="btn btn-brand">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

  <!-- end:: Content -->
</div>
{% endblock %}

{% block script %}
<script>
jQuery(document).ready(function() {
  const menuItemId = "{{ menuItem._id }}";
  const menuItemJsElm = document.createElement("script");
  menuItemJsElm.type = "application/javascript";
  if (menuItemId) {
    menuItemJsElm.src = "/backoffice/assets/js/pages/custom/menus/items/edit.js";
    document.body.appendChild(menuItemJsElm);
  } else {
    menuItemJsElm.src = "/backoffice/assets/js/pages/custom/menus/items/add.js";
    document.body.appendChild(menuItemJsElm);
  }

});
</script>
{% endblock %}