{% extends "views/backoffice/layout.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block head_link %}
<link href="/backoffice/assets/css/pages/wizards/wizard-v3.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

  <!-- begin:: Content Head -->
  <div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container kt-container--fluid ">
      <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">{{ title }}</h3>
      </div>
      <div class="kt-subheader__toolbar">
        <a href="#" class="">
        </a>
        <a href="/admin/menus/items/add" class="btn btn-brand btn-bold">
          Ajouter un nouveau menu
        </a>
      </div>
    </div>
  </div>

  <!-- end:: Content Head -->

  <!-- begin:: Content -->
  <div class="kt-container kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <!--begin::Row-->
    <div class="row">
      {% for menuItem in menuItems %}

        <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">

          <!--begin::Portlet-->
          <div class="kt-portlet kt-portlet--height-fluid kt-widget-12">
            <div class="kt-portlet__body">
              <div class="kt-widget-12__body">
                <div class="kt-widget-12__head">
                  <div class="kt-widget-12__date kt-widget-12__date--success">
                    <span class="kt-widget-12__day">{{ menuItem.availableAt|date("d") }}</span>
                    <span class="kt-widget-12__month">{{ menuItem.availableAt|date("M") }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="kt-portlet__foot kt-portlet__foot--md">
              <div class="kt-portlet__foot-wrapper">
                <div class="kt-portlet__foot-toolbar">
                  <a href="/admin/menus/items/duplicate/{{ menuItem._id }}" class="btn btn-default btn-sm btn-bold btn-upper">Dupliquer</a>
                </div>
                <div class="kt-portlet__foot-toolbar">
                  <a href="/admin/menus/items/edit/{{ menuItem._id }}" class="btn btn-default btn-sm btn-bold btn-upper">Editer</a>
                </div>
              </div>
            </div>
          </div>

          <!--end::Portlet-->
        </div>

      {% endfor %}
    </div>

    <!--end::Row-->

    <!--begin: Pagination-->
    <div class="kt-pagination kt-pagination--brand kt-margin-t-10">
      <ul class="kt-pagination__links">
      </ul>
      <div class="kt-pagination__toolbar">
        <select class="form-control" style="width: 60px;">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>

    <!--end: Pagination-->
  </div>

  <!-- end:: Content -->
</div>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}